{{ 'component-account-menu.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'selector-handler.js' | asset_url }}" defer></script>

<nav class="account-menu">
   <h1 class="account-menu__heading">{{ 'customer.account.title' | t }}</h1>
   
   <div class="account-menu__customer">
      <h6 class="account-menu__label">{{ 'customer.addresses.full_name' | t }}</h6>
      <div class="account-menu__name">{{ customer.name }}</div>
   </div>

   <ul class="account-menu__links">
      <li {% if selected == 'order' %}class="selected"{% endif %}>
         {{ 'customer.menu_links.orders' | t | link_to: routes.account_url }}
      </li>
      <li {% if selected == 'addresses' %}class="selected"{% endif %}>
         {{ 'customer.menu_links.addresses' | t | link_to: routes.account_addresses_url }}
      </li>
      <li {% if selected == 'wishlist' %}class="selected"{% endif %}>
         {{ 'customer.menu_links.wishlist' | t | link_to: routes.account_url }}
      </li>
      <li>{{ 'customer.menu_links.logout' | t | link_to: routes.account_logout_url }}</li>
   </ul>

   <div class="account-menu__links--mobile">
      <h6 class="account-menu__label">Menu</h6>
      <select class="link-selector link-selector--mobile js-selector">
         <option target="{{ routes.account_url }}"
            {% if selected == 'order' %}selected{% endif %}   
         >
            {{ 'customer.menu_links.orders' | t }}
         </option>

         <option target="{{ routes.account_addresses_url }}"
            {% if selected == 'addresses' %}selected{% endif %}
         >
            {{ 'customer.menu_links.addresses' | t }}
         </option>
         
         <option target="{{ routes.account_url }}"
            {% if selected == 'wishlist' %}selected{% endif %}
         >
            {{ 'customer.menu_links.wishlist' | t }}
         </option>
         
         <option target="{{ routes.account_logout_url }}">
            {{ 'customer.menu_links.logout' | t }}
         </option>
       </select>
   </div>

    <style>
      .link-selector {
        background-image: url('{{ "icon-caret.svg" | asset_url }}');
      }
    </style>
</nav>