{%- comment -%}
   Usage: {% render 'article-featured-product', product: product %}
{%- endcomment -%}

{% assign product_title = product.title | split: '-' | first %}

<section class="article-featured-product" id="Section{{ section.id }}">
   <div class="article-featured-product__image">
      <div class="article-featured-product__image--inner">
         <img src="{{ product.featured_media | img_url: '600x' }}">
      </div>
   </div>
   <div class="article-featured-product__details">
      <div class="article-featured-product__title">Shop for {{ product_title | strip }}!</div>
      <a href="{{ product.url }}" class="secondary-btn">Shop featured product</a>
   </div>
</section>

<style>
   #Section{{ section.id }} .article-featured-product__image::after {
      background-image: url("{{ 'dots-background-light.svg' | asset_url }}");
   }
</style>