<div role="listitem" class="swiper-slide">
    <div class="testimonial-grid">
        {%- if section.settings.bg_image != blank -%}
        <img class="testimonial-bg-img"
            src="{{ section.settings.bg_image | img_url: '750x' }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ section.settings.bg_image.alt | escape }}"
            loading="lazy"
            width="{{ section.settings.bg_image.width }}"
            height="{{ section.settings.bg_image.height }}"
        >
        {%- endif -%}
        <div class="testimonial__wrap ">
            <div class="testimonial__img-wrap">
                <a class="testimonial__link" href="{{ url }}">
                    <div class="testimonial__img">
                        {% assign article = articles[handle] %}
                        <img
                            srcset="{%- if article.image.width >= 165 article.image | img_url: '165x' }} 165w,{%- endif -%}
                            {article.image.width >= 360 -%}{{ article.image | img_url: '360x' }} 360w,{%- endif -%}
                            {%- if article.image.width >= 535 -%}{{ article.image | img_url: '535x' }} 535w,{%- endif -%}
                            {%- if article.image.width >= 750 -%}{{ article.image | img_url: '750x' }} 750w,{%- endif -%}"
                            src="{{ article.image | img_url: '750x' }}"
                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                            alt="{{ article.image.alt | escape }}"
                            loading="lazy"
                            width="{{ article.image.width }}"
                            height="{{ article.image.height }}"
                        >
                       
                        <img class="testimonial-bg-mb"
                            src="{{ section.settings.bg_image | img_url: '750x' }}"
                            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                            alt="{{ section.settings.bg_image.alt | escape }}"
                            loading="lazy"
                            width="{{ section.settings.bg_image.width }}"
                            height="{{ section.settings.bg_image.height }}"
                        >
                    </div>
                </a>
            </div>
            <div class="testimonial__content">
                {% if title != blank %}
                    <div class=" h5 name-reviewer ">
                        {{ title }}
                    </div>
                {% endif %}
                {% if content != blank %}
                    <div class="content-review">
                        {{ content }}
                    </div>
                {% endif %}
                {% if block.settings.link_readmore != blank %}
                    <a class="roller" href="{{block.settings.link_readmore }}"> Read more <span class="visually-hidden">about {{ block.settings.button_label }} memories</span></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>