{% assign arrayItem = 'Made in the USA, Bubble Gum & Chewing Gum, Candy Bars, Candy Cigars & Cigarettes, Candy Drops, Candy Sticks, Caramel, Chewy Candy, Cotton Candy, Licorice, Lollipops & Suckers, Candy Cigars & Cigarettes, Candy Drops, Candy Sticks' | split: ',' %}

<div class="collection-sidebar sidebar">
  <a href="#close-sidebar" class="sidebar-mobile-title">
    <span>Filter & Sort</span>
    <span class="sidebar-mobile-title__icon">
      <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_104_43)">
        <path d="M6.5 1L0.81579 7L6.5 13" stroke="#262626" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_104_43">
        <rect width="14" height="8" fill="white" transform="translate(8) rotate(90)"/>
        </clipPath>
        </defs>
      </svg>
    </span>
  </a>
  <div id="searchspring-sidebar">
  <div class="collection-sidebar__filter sidebar-filter">
    <div aria-expanded="true" class="sidebar-filter__inner active">
      <button class="h3 collection-sidebar__header js-sidebar-title">
        <span>By type</span>
        <span class="collection-sidebar__header-icon">
          {% render 'icon-arrow-down' %}
        </span>
      </button>
      <div class="collection-sidebar__content">
        <ul class="collection-sidebar__list">
          {% for item in arrayItem %}
            <li class="collection-sidebar__item" {% if forloop.index > 11 %}style="display: none"{% endif %}>
              <input class="collection-sidebar__input" id="filter-type-{{ forloop.index }}" type="checkbox" name="filterType" value="{{ item }}">
              <label class="collection-sidebar__label" for="filter-type-{{ forloop.index }}"> {{ item }} </label>
            </li>

            {% if forloop.last and forloop.index > 11 %}
              <li class="ollection-sidebar__item collection-sidebar__view-more">
                <a class="collection-sidebar__link js-filter-view-more roller" href="#">
                  <span> View more</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div aria-expanded="false" class="sidebar-filter__inner">
      <button class="h3 collection-sidebar__header js-sidebar-title">
        <span>by flavor</span>
        <span class="collection-sidebar__header-icon">
          {% render 'icon-arrow-down' %}
        </span>
      </button>
      <div class="collection-sidebar__content">
        <ul class="collection-sidebar__list">
          {% for item in arrayItem %}
            <li class="collection-sidebar__item">
              <input class="collection-sidebar__input" id="filter-flavor-{{ forloop.index }}" type="checkbox" name="filterFlavor" value="{{ item }}">
              <label class="collection-sidebar__label" for="filter-flavor-{{ forloop.index }}"> {{ item }} </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div aria-expanded="false" class="sidebar-filter__inner">
      <button class="h3 collection-sidebar__header js-sidebar-title">
        <span>by occassion</span>
        <span class="collection-sidebar__header-icon">
          {% render 'icon-arrow-down' %}
        </span>
      </button>
      <div class="collection-sidebar__content">
        <ul class="collection-sidebar__list">
          {% for item in arrayItem %}
            <li class="collection-sidebar__item">
              <input class="collection-sidebar__input" id="filter-occassion-{{ forloop.index }}" type="checkbox" name="filterOccassion" value="{{ item }}">
              <label class="collection-sidebar__label" for="filter-occassion-{{ forloop.index }}"> {{ item }} </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div aria-expanded="false" class="sidebar-filter__inner">
      <button class="h3 collection-sidebar__header js-sidebar-title">
        <span>by decade</span>
        <span class="collection-sidebar__header-icon">
          {% render 'icon-arrow-down' %}
        </span>
      </button>
      <div class="collection-sidebar__content">
        <ul class="collection-sidebar__list">
          {% for item in arrayItem %}
            <li class="collection-sidebar__item">
              <input class="collection-sidebar__input" id="filter-decade-{{ forloop.index }}" type="checkbox" name="filterDecade" value="{{ item }}">
              <label class="collection-sidebar__label" for="filter-decade-{{ forloop.index }}"> {{ item }} </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a class="collection-sidebar__link collection-sidebar__clear js-filter-view-more roller" href="#" role="button" aria-label="Clear filters">
      <span>Clear All <span class="visually-hidden">Filters</span></span>
    </a>
  </div>
  <div class="collection__sort-by">
    <label class="h3 collection-sidebar__header" for="SortBy">Sort by</label>
    <div class="sort-by__wrapper">
      <select name="SortBy" id="SortBy" aria-label="SortBy" class="sort-by__select" onchange="location = this.value;">
        {% for option in collection.sort_options %}
          <option value="?sort_by={{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
 </div>
</div>

<script>
  const sidebarHeader = document.querySelectorAll('.js-sidebar-title');
  const btnShowMore = document.querySelectorAll('.js-filter-view-more');
  const sidebarItems = document.querySelectorAll('.collection-sidebar__item');
  const matchMedia = window.matchMedia("(max-width: 980px)");
  const sideBarItem = document.querySelector('.sidebar-filter__inner')
  
  sidebarHeader.forEach(function(item) {
    item.onclick = function(e) {
      e.preventDefault();
      this.parentElement.classList.toggle('active');
      document.querySelectorAll('.sidebar-filter__inner').forEach((a) => a.setAttribute('aria-expanded', 'false'));
      if (this.parentElement.classList.contains('active')) {
        e.currentTarget.parentNode.setAttribute('aria-expanded', 'true');
      }else{
        e.currentTarget.parentNode.setAttribute('aria-expanded', 'false');
      }
    }
  });

  btnShowMore.forEach(function(btn) {
    btn.addEventListener('click', function(e){
      e.preventDefault();
      sidebarItems.forEach(function(item) {
        if (item.style.display === 'none') {
          item.style.display = 'block';
          btn.style.display = 'none';
        }
      })
    })
  });

  if (matchMedia.matches) {
    sideBarItem.classList.remove('active');
  } else {
    sideBarItem.classList.add('active');
  }
</script>
