{% assign arrayItem = 'Made in the USA, Bubble Gum & Chewing Gum, Candy Bars, Candy Cigars & Cigarettes, Candy Drops, Candy Sticks, Caramel, Chewy Candy, Cotton Candy, Licorice, Lollipops & Suckers, Candy Cigars & Cigarettes, Candy Drops, Candy Sticks' | split: ',' %}

<div class="collection-sidebar">
  <div class="collection-sidebar__filter sidebar-filter">
    <div class="sidebar-filter__inner active">
      <h3 class="collection-sidebar__header js-sidebar-title">
        <span>By type</span>
        <span class="collection-sidebar__header-icon">
          {% render 'icon-arrow-down' %}
        </span>
      </h3>
      <div class="collection-sidebar__content">
        <ul class="collection-sidebar__list">
          {% for item in arrayItem %}
            <li class="collection-sidebar__item" {% if forloop.index > 11 %}style="display: none"{% endif %}>
              <input class="collection-sidebar__input hidden" id="filter-type-{{ forloop.index }}" type="checkbox" name="filterType" value="{{ item }}">
              <label class="collection-sidebar__label" for="filter-type-{{ forloop.index }}"> {{ item }} </label>
            </li>

            {% if forloop.last and forloop.index > 11 %}
              <li class="ollection-sidebar__item collection-sidebar__view-more">
                <a class="collection-sidebar__link js-filter-view-more" href="#">
                  <span> View more</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="sidebar-filter__inner">
      <h3 class="collection-sidebar__header js-sidebar-title">
        <span>by flavor</span>
        <span class="collection-sidebar__header-icon">
          {% render 'icon-arrow-down' %}
        </span>
      </h3>
      <div class="collection-sidebar__content">
        <ul class="collection-sidebar__list">
          {% for item in arrayItem %}
            <li class="collection-sidebar__item">
              <input class="collection-sidebar__input hidden" id="filter-flavor-{{ forloop.index }}" type="checkbox" name="filterFlavor" value="{{ item }}">
              <label class="collection-sidebar__label" for="filter-flavor-{{ forloop.index }}"> {{ item }} </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="sidebar-filter__inner">
      <h3 class="collection-sidebar__header js-sidebar-title">
        <span>by occassion</span>
        <span class="collection-sidebar__header-icon">
          {% render 'icon-arrow-down' %}
        </span>
      </h3>
      <div class="collection-sidebar__content">
        <ul class="collection-sidebar__list">
          {% for item in arrayItem %}
            <li class="collection-sidebar__item">
              <input class="collection-sidebar__input hidden" id="filter-occassion-{{ forloop.index }}" type="checkbox" name="filterOccassion" value="{{ item }}">
              <label class="collection-sidebar__label" for="filter-occassion-{{ forloop.index }}"> {{ item }} </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="sidebar-filter__inner">
      <h3 class="collection-sidebar__header js-sidebar-title">
        <span>by decade</span>
        <span class="collection-sidebar__header-icon">
          {% render 'icon-arrow-down' %}
        </span>
      </h3>
      <div class="collection-sidebar__content">
        <ul class="collection-sidebar__list">
          {% for item in arrayItem %}
            <li class="collection-sidebar__item">
              <input class="collection-sidebar__input hidden" id="filter-decade-{{ forloop.index }}" type="checkbox" name="filterDecade" value="{{ item }}">
              <label class="collection-sidebar__label" for="filter-decade-{{ forloop.index }}"> {{ item }} </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <a class="collection-sidebar__link js-filter-view-more" href="#">
      <span>Clear All</span>
    </a>
  </div>
  <div class="collection__sort-by">
    <h3 class="collection-sidebar__header">Sort by</h3>
    <div class="sort-by__wrapper">
      <label class="sort-by__label">Name:</label>
      <select name="SortBy" id="SortBy" class="sort-by__select" onchange="location = this.value;">
        {% for option in collection.sort_options %}
          <option value="?sort_by={{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

<script>
  const sidebarHeader = document.querySelectorAll('.js-sidebar-title');
  const btnShowMore = document.querySelectorAll('.js-filter-view-more');
  const sidebarItems = document.querySelectorAll('.collection-sidebar__item');
  sidebarHeader.forEach(function(item) {
    item.onclick = function() {
      this.parentElement.classList.toggle('active');
    }
  });

  btnShowMore.forEach(function(btn) {
    btn.addEventListener('click', function(e){
      e.preventDefault();
      sidebarItems.forEach(function(item) {
        if (item.style.display === 'none') {
          item.style.display = 'block';
          btn.style.display = 'none';
        }
      })
    })
  });
</script>
