{% liquid
    assign on_sale = false
    assign sold_out = true
    assign option_size = product.variants | size
    if product.compare_at_price > product.price
      assign on_sale = true
    endif
    if product.available
      assign sold_out = false
    endif
  %}
  <div class="card-product__item {{ slideItem }}" role="listitem">
    <a class="card-product__link" href="{{ product.url | within: collection }}" aria-label="{{ product.url | handleize }}">
      <div class="card-product__picture" data-product-id="{{ product.variants[0].id }}" style="transform-origin: center">
        <img width="auto" height="auto" loading="lazy" class="card-product__image js-card-product-image" src="{{ product.featured_image.src | product_img_url: '600x' }}" alt="{{ product.featured_image.alt | escape }}">
        <div class="card-product-label {% if sold_out %}card-product-overlay{% endif %}{% if settings.label_side == 'right' %} card-product-label__side-right{% endif %}">
          {% if sold_out %}
            <div class="card-product-label__item card-product__sold-out"> {{- settings.label_soldout -}} </div>
          {% endif %}
  
          {%- liquid assign tags = product.tags -%}
          {% for t in tags %}
            {% assign tag = t | strip %}
            {% assign tag_value = tag | handleize %}
  
            {% if tag_value contains 'label-' %}
              <div class="card-product-label__item{% if tag_value == 'label-great-gift' %} card-product-label__great-gift{% elsif tag_value == 'label-limited-time-offer' %} card-product-label__limited{% else %} card-product-label__custom-first{% endif %}">
                {{- tag | split: 'Label:' -}}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </a>
    <div class="card-product__bottom">
      <a role="heading" aria-level="3" class="card-product__title" href="{{ product.url | within: collection }}"> {{ product.title }} </a>
      <span 
        class="stamped-product-reviews-badge" 
        data-id="{{ product.id }}"
        data-product-sku="{{ product.handle }}" 
        data-product-type="{{ product.type }}" 
        data-product-title="{{ product.title }}" 
        style="display:block;">
        {{ product.metafields.stamped.badge }}
      </span>    
      <div class="card-product__price">
        {% if on_sale %}
          <span class="card-product__price--sale">{{ product.price | money }}</span>
          <span class="card-product__price--old">{{ product.compare_at_price | money }}</span>
        {% else %}
          <span>{{ product.price | money }}
          </span><span class="card-product__price--old">{{ product.compare_at_price | money }}</span>
        {% endif %}
      </div> 
      <form action="/cart/add" method="post" class="card-product__form" enctype="multipart/form-data">
        <input class="card-product__variant-id" type="hidden" name="id" value="{{ product.variants[0].id }}"/>
        <input class="card-product__quantity" type="hidden" name="quantity" value="1" />
        {% if sold_out %}
          <a href="#" class="BIS_trigger btn--disabled card-product__btn btn--OOS" data-product-data="{{ product | json | escape }}">
            {{ 'products.product.sold_out' | t }}
          </a>
        {% else %}
          <button aria-label="Quick add {{ product.title }} to your cart" class="card-product__btn" type="submit" data-add-to-cart data-ice-brix="{% if product.tags contains 'Ice-Brix' %}true{% else %}false{% endif %}">
            <span class="card-product__btn-icon">
              {% render 'icon-add' %}
            </span>
            <span class="card-product__btn-text"> Add <span class="visually-hidden">{{ product.title }}</span> to cart </span>
          </button>
        {% endif %}
      </form>
    </div>
  </div>
  