<div class="modal-error" style="display: none;">
	<div class="modal-error__box">
		<div class="modal-error__close js-close">
			<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L14.5 14.5" stroke="#B6B6B6" stroke-width="2" stroke-linecap="round"></path>
				<path d="M14.5 1L1 14.5" stroke="#B6B6B6" stroke-width="2" stroke-linecap="round"></path>
			</svg>
		</div>
		<div class="modal-error__content">
			<div class="modal-error__message js-message-error"></div>
		</div>
	</div>
</div>

<div tabindex="0" class="modal-cart-gift">
	<div class="modal-cart-gift__container">
    <div class="modal-cart-gift__header">
      <h2 class="modal-cart-gift__header-text">Complementary Hand-Written Gift Card</h2>
      <button aria-label="Close modal gift" class="modal-cart-gift__close js-close-gift">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M28.9469 27.0533C29.1993 27.3036 29.3413 27.6444 29.3413 28C29.3413 28.3555 29.1993 28.6963 28.9469 28.9466C28.6966 29.199 28.3558 29.341 28.0002 29.341C27.6447 29.341 27.3039 29.199 27.0536 28.9466L16.0002 17.88L4.94691 28.9466C4.69656 29.199 4.35576 29.341 4.00024 29.341C3.64473 29.341 3.30393 29.199 3.05358 28.9466C2.80116 28.6963 2.65918 28.3555 2.65918 28C2.65918 27.6444 2.80116 27.3036 3.05358 27.0533L14.1202 16L3.05358 4.94662C2.71537 4.60841 2.58328 4.11545 2.70707 3.65345C2.83087 3.19144 3.19173 2.83058 3.65374 2.70678C4.11575 2.58299 4.6087 2.71507 4.94691 3.05329L16.0002 14.12L27.0536 3.05329C27.5764 2.53046 28.4241 2.53046 28.9469 3.05329C29.4697 3.57612 29.4697 4.42379 28.9469 4.94662L17.8802 16L28.9469 27.0533Z" fill="#484E57"/>
        </svg>
      </button>
    </div>
		<div class="modal-cart-gift__field">
			<label for="GiftMessageText" class="modal-cart-gift__label">Message</label>
			<textarea id="GiftMessageText" class="modal-cart-gift__input" placeholder="Enter your message." maxlength="100" onkeyup="limitText(this)" onpaste="limitText(this)" onchange="limitText(this)">
				{{- cart.attributes['Gift Message'] -}}
			</textarea>
			{%- assign message_count = cart.attributes['Gift Message'] | size -%}
			<div class="order-message"><span id="order-message-count">{{- 100 | minus: message_count -}}</span> Characters Remaining.</div>
			<button class="modal-cart-gift__btn js-attr-message button">
				<span class="modal-cart-gift__btn-text">Save message</span>
				<div class="modal-cart-gift__btn-icon"></div>
			</button>
		</div>

		<div class="modal-cart-gift__inner">
			<h2 class="modal-cart-gift__header-text">Delay Shipping (Optional)</h2>
			<p class="modal-cart-gift__hint">A minimum of one week’s notice is required, up to three months.</p>
			<div class="modal-cart-gift__delay">
				<input type="checkbox" class="modal-cart-gift__checked" id="DelayShipping" value="{% if cart.attributes['Delayed Shipping Date'] != nil %}1{% endif %}" {% if cart.attributes['Delayed Shipping Date'] != nil %}checked{% endif %}>
				<label for="DelayShipping" class="modal-cart-gift__text">Delay Shipping (Optional)</label>
			</div>
			<div class="modal-cart-gift__field">
				<label for="trip-start-1" class="modal-cart-gift__label">desired arrival date</label>
				{%- liquid
					assign date = "now" | date: '%s'
					assign seconds = 7 | times: 24 | times: 60 | times: 60
					assign day = date | date: "%s" | plus: seconds | date: "%e"
					assign month = date | date: "%s" | plus: seconds | date: "%m"
					assign year = date | date: "%s" | plus: seconds | date: "%Y"
					assign endDay = date | date: "%s" | plus: seconds | date: "%e" | plus: 0

					assign endseconds = 90 | times: 24 | times: 60 | times: 60
					assign endMonth = date | date: "%s" | plus: endseconds | date: "%m"
					assign endYear = date | date: "%s" | plus: endseconds | date: "%Y"
				-%}
				<input aria-label="desired arrival date" type="date" class="modal-cart-gift__date" id="trip-start-1" name="trip-start" value="{% if cart.attributes['Delayed Shipping Date'] != nil %}{{- cart.attributes['Delayed Shipping Date'] -}}{% else %}{{ year }}-{{ month }}-{{ day }}{% endif %}" min="{{ year }}-{{ month }}-{{ day }}" max="{{ endYear }}-{{ endMonth }}-{{ endDay }}">

				<button class="modal-cart-gift__btn js-attr-date button">
					<span class="modal-cart-gift__btn-text">Confirm date</span>
					<div class="modal-cart-gift__btn-icon"></div>
				</button>
				<div id="confirmDate" class="clipped visually-hidden" aria-live="polite" aria-atomic="true"></div>
			</div>
		</div>
  </div>
</div>
<script>
	function limitText(_this) {
		const messageCount = document.querySelector('#order-message-count');
		let limit = parseInt(_this.getAttribute('maxlength'));
		messageCount.textContent = limit - _this.value.length;
	}

	const btnCloseMessage =  document.querySelector('.js-close');
	btnCloseMessage.onclick = (e) => {
		e.preventDefault();
		document.querySelector('.modal-error').style.display = 'none';
	}

    var mydate = document.getElementById('trip-start-1'),
        mydateError = document.getElementById('confirmDate');

    mydate.addEventListener('input', function() {
        if (!mydate.value.match(/\d{4}-\d{1,2}-\d{1,2}/)) {
            mydateError.innerHTML = 'Please specify a valid date';
            mydateError.style.display = 'block';
			mydateError.classList.remove("clipped", "visually-hidden");
        } else {
            var value = new Date(mydate.value),
                min = new Date(mydate.min),
                max = new Date(mydate.max);
            if (value < min || value > max) {
                mydateError.innerHTML = 'Delayed Delivery Date must be between ' + min.toDateString() + ' and ' + max.toDateString();
                mydateError.style.display = 'block';
				mydateError.classList.remove("clipped", "visually-hidden");
            } else {
                mydateError.style.display = 'none';
				mydateError.classList.add("clipped", "visually-hidden");
            }
        }
    });	
</script>