<a class="card-collection__link" href="{{ card_collection.url }}">
  <div class="card-collection__picture">
    <img
      srcset="{%- if card_collection.featured_image.width >= 165 -%}{{ card_collection.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if card_collection.featured_image.width >= 330 -%}{{ card_collection.featured_image | image_url: width: 330 }} 330w,{%- endif -%}
        {%- if card_collection.featured_image.width >= 535 -%}{{ card_collection.featured_image | image_url: width: 535 }} 535w,{%- endif -%}
        {%- if card_collection.featured_image.width >= 750 -%}{{ card_collection.featured_image | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if card_collection.featured_image.width >= 1000 -%}{{ card_collection.featured_image | image_url: width: 1000 }} 1000w,{%- endif -%}
        {%- if card_collection.featured_image.width >= 1500 -%}{{ card_collection.featured_image | image_url: width: 1500 }} 1500w,{%- endif -%}
        {%- if card_collection.featured_image.width >= 3000 -%}{{ card_collection.featured_image | image_url: width: 3000 }} 3000w,{%- endif -%}
        {{ card_collection.featured_image | image_url }} {{ card_collection.featured_image.width }}w"
      src="{{ card_collection.featured_image | image_url: width: 1500 }}"
      sizes="
      (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: columns }}px,
      (min-width: 750px) {% if columns > 1 %}calc((100vw - 10rem) / 2){% else %}calc(100vw - 10rem){% endif %},
      calc(100vw - 3rem)"
      alt="{{ card_collection.title | escape }}"
      height="{{ card_collection.featured_image.height }}"
      width="{{ card_collection.featured_image.width }}"
      loading="lazy"
      class="card-collection__image"
    >
  </div>
  <h3 class="card-collection__title">
    {{- card_collection.title | escape -}}
  </h3>
</a>
