{% liquid
  assign on_sale = false
  assign sold_out = true
  assign option_size = product.options | size
  if product.compare_at_price > product.price
    assign on_sale = true
  endif
  if product.available
    assign sold_out = false
  endif
%}

<div class="card-product__item {{ slideItem }}">
  <div class="card-product__picture">
    <a class="card-product__link" href="{{ product.url | within: collection }}">
      <img class="card-product__image" src="{{ product.featured_image.src | product_img_url: '600x' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>
  <div class="card-product__bottom">
    <a class="card-product__title" href="{{ product.url | within: collection }}"> {{ product.title }} </a>
    <div class="card-product__label"> Various sizes</div>
    <div class="card-product__price">
      {% if on_sale %}
        <span class="card-product__price--sale">{{ product.price | money }}</span>
        <span class="card-product__price--old">{{ product.compare_at_price | money }}</span>
      {% else %}
        <span class="card-product__price-text">Starting at</span>
        <span>{{ product.price | money }}</span>
      {% endif %}
    </div>
    <form action="/cart/add" method="post" class="card-product__form" enctype="multipart/form-data">
      <input class="card-product__variant-id" type="hidden" name="id" value="{{ product.variants[0].id }}"/>
      {% if sold_out %}
        <button class="btn--disabled card-product__btn" disabled="disabled">
          {{ 'products.product.sold_out' | t }}
        </button>
      {% elsif option_size > 1 %}
        <button class="card-product__btn">
          <span class="card-product__btn-icon">
            {% render 'icon-add' %}
          </span>
          <span class="card-product__btn-text"> Quick add </span>
        </button>
      {% else %}
        <button class="card-product__btn" type="submit">
          <span class="card-product__btn-icon">
            {% render 'icon-add' %}
          </span>
          <span class="card-product__btn-text"> {{ 'products.product.add_to_cart' | t }} </span>
        </button>
      {% endif %}
    </form>
  </div>

  {% if product.metafields.global.limited_time.value  != blank %}
    <div class="card-product-label">
      {{ product.metafields.global.limited_time.value }}
    </div>
  {% endif %}
</div>
