{% assign count_block_product = 0 %}
{% assign count_block_collection = 0 %}
{% assign count_normal_link = 0 %}

{% for submenu in links %}
    {% if submenu.title == "Top Products" and submenu.links != blank %}
        {% for top_product in submenu.links %}
          {% assign count_block_product = count_block_product | plus: 1 %}
        {% endfor %}
    {% elsif submenu.title == 'Top Collections' and submenu.links != blank %}
        {% for top_collection in submenu.links %}
            {% assign count_block_collection = count_block_collection | plus: 1 %}
        {% endfor %}
    {% else %}
        {% assign count_normal_link = count_normal_link | plus: 1 %}
    {% endif %}
{% endfor%}
<div class="page-width">
    {% if count_normal_link > 0 %}
        <div class="mega-menu-wrapper">
            <div class="d-flex menu-child">
            {% for submenu in links %}
                {% unless submenu.title == 'Top Products' or submenu.title == 'Top Collections' %}
                <div class="last-level-menu {{ childlink.title | handleize }} col-ds__100 js-parent">
                    <a class="child-title" href="{{ submenu.url }}" >{{- submenu.title -}}</a>
                    <ul class="list-menu">
                        {% for childlink in submenu.links %}
                            <li class="child-link"><a class="header__menu-item list-menu__item link caption-large" href="{{ childlink.url }}">{{- childlink.title -}}</a></li>
                        {% endfor %}
                    </ul>  
                </div>
                {% endunless %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if count_block_product > 0 %}
        <div class="mega-menu-image">
            <h6 class="megamenu-image-heading">{{ 'sections.header.megamenu.top_product_label' | t }}</h6>
            <div id="megamenu-image-{{ index }}" class="megamenu-image-container">  
                {% for submenu in links %}
                    {% if submenu.title == "Top Products" %}
                        <ul class="list-menu image-container-wrapper d-flex__end">
                            {% for top_product in submenu.links %}
                                {% assign top_product_handle = top_product.url | remove: '/products/' %}
                                {% assign top_product_s = all_products[top_product_handle] %}   
                                <li class="image_item d-flex__column  col-ds__{{ 100 | divided_by: count_block | ceil }}">
                                    <div class="image-container-item">
                                        <a class="image p-relative {% if top_product.url == blank %} not-link {% endif %}" {% if top_product.url != blank %}href="{{ top_product.url }}" {% endif %}>
                                            {% if top_product_s.featured_image %}
                                                <img class="p-center" 
                                                    src="{{ top_product_s.featured_image | img_url: '217x199' }}"
                                                    alt="{{ top_product_s.featured_image.alt }}"
                                                    width="{{ top_product_s.featured_image.width }}"
                                                    height="{{ top_product_s.featured_image.height }}"
                                                    loading="lazy"
                                                />
                                            {% endif %}
                                            {% for t in top_product_s.tags %}
                                            {% assign tag = t | strip %}
                                            {% assign tag_value = tag | handleize %}

                                            {% if tag_value contains 'label-' %}
                                                <span class="text-label h6">{{- tag | split: 'Label:' -}}</span>
                                            {% endif %}
                                            {% endfor %}
                                        </a>
                                        {% if top_product.title != blank %}
                                            <a class="text-container link h6 {% if top_product.url == blank %} not-link {% endif %}" {% if top_product.url != blank %}href="{{ top_product.url }}"{% endif %}>{{ top_product.title }}</a>
                                        {% endif %}
                                    </div>
                                </li>              
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if count_block_collection > 0 %}
        <div class="mega-menu-image">
            <h6 class="megamenu-image-heading">{{ 'sections.header.megamenu.top_collection_label' | t }}</h6>
            <div id="megamenu-image-{{ index }}" class="megamenu-image-container">  
                {% for submenu in links %}
                    {% if submenu.title == "Top Collections" %}
                        <ul class="list-menu image-container-wrapper d-flex__end">
                            {% for top_collection in submenu.links %}
                                {% assign top_collection_handle = top_collection.url | remove: '/collections/' %}
                                <li class="image_item d-flex__column  col-ds__{{ 100 | divided_by: count_block | ceil }}">
                                    <div class="image-container-item">
                                        <a class="image p-relative {% if top_collection.url == blank %} not-link {% endif %}" {% if top_collection.url != blank %}href="{{ top_collection.url }}" {% endif %}>
                                            {% if top_collection.featured_image %}
                                                <img class="p-center" 
                                                    src="{{ top_collection.featured_image | img_url: '217x199' }}"
                                                    alt="{{ top_collection.featured_image.alt }}"
                                                    width="{{ top_collection.featured_image.width }}"
                                                    height="{{ top_collection.featured_image.height }}"
                                                    loading="lazy"
                                                />
                                            {% endif %}
                                        </a>
                                        {% if top_collection.title != blank %}
                                            <a class="text-container link h6 {% if top_collection.url == blank %} not-link {% endif %}" {% if top_collection.url != blank %}href="{{ top_collection.url }}"{% endif %}>{{ top_collection.title }}</a>
                                        {% endif %}
                                    </div>
                                </li>              
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>