{% comment %}
  Tiered Pricing display on PDP
{% endcomment %}
{% assign Tier_1 = '3,6,10' | split: ',' %}
{% assign Tier_2 = '4,7,11' | split: ',' %}
{% assign Tier_3 = '10,15' | split: ',' %}
{% assign tierPricing = blank %}

{% for tag in product.tags %}

  {% case tag %}
    {% when 'Tier_1_Discounts' %}
      {% capture tierPricing %}
      {% for variant in product.variants %}
        {% assign variant_title = variant.title | downcase %}
        {% unless variant_title contains "single" or variant_title contains "case" %}
        <div class="product-buy-more variant-discount-box" reference="{{ variant.title }}" id="variant-discount-{{ variant.id }}" style="display:none;">
          <div class="product-buy-more__header">Buy more, save more!</div>
          <div class="product-buy-more__content">
            <div class="product-tiered-pricing">
            {% for tier in Tier_1 %}
              {% assign tier_money = tier | divided_by: 100.00 %}
              {% assign tier_discount = variant.price | money_without_currency | times: tier_money | round: 2 %}
              {% assign product_price = variant.price | divided_by: 100.00 %}
                <table class="responsive-table">
                  <tbody>
                  {% case forloop.index %}
                  {% when 1 %}
                    <tr class="responsive-table-row">
                      <td data-label="Quantity">Buy 2+</td>
                      <td data-label="Discount" style="color: #AC1229;">Save {{ tier | append: '%' }}</td>
                      <td data-label="Price" style="color: #0C5273;">{{ product_price | minus: tier_discount | times: 100 | money_without_currency | prepend: '$' | append: ' '  }}each</td>
                    </tr>
                  {% when 2 %}
                    <tr class="responsive-table-row">
                      <td data-label="Quantity">Buy 5+</td>
                      <td data-label="Discount" style="color: #AC1229;">Save {{ tier | append: '%' }}</td>
                      <td data-label="Price" style="color: #0C5273;">{{ product_price | minus: tier_discount | times: 100 | money_without_currency | prepend: '$' | append: ' '  }}each</td>
                    </tr>
                  {% when 3 %}
                    <tr class="responsive-table-row">
                      <td data-label="Quantity">Buy 10+</td>
                      <td data-label="Discount" style="color: #AC1229;">Save {{ tier | append: '%' }}</td>
                      <td data-label="Price" style="color: #0C5273;">{{ product_price | minus: tier_discount | times: 100 | money_without_currency | prepend: '$' | append: ' '  }} each</td>
                    </tr>
                  {% endcase %}
                </tbody>
              </table>
            {% endfor %}
            </div>
          </div>
        </div>
        {% endunless %}
      {% endfor %}
      {% endcapture %}
    {% when 'Tier_2_Discounts' %}
      {% capture tierPricing %}
        {% for variant in product.variants %}
          {% assign variant_title = variant.title | downcase %}
          {% unless variant_title contains "single" or variant_title contains "case" %}
            <div class="product-buy-more variant-discount-box" reference="{{ variant.title }}" id="variant-discount-{{ variant.id }}" style="display:none;">
              <div class="product-buy-more__header">Buy more, save more!</div>
                <div class="product-buy-more__content">
                  <div class="product-tiered-pricing">
                  {% for tier in Tier_2 %}
                    {% assign tier_money = tier | divided_by: 100.00 %}
                    {% assign tier_discount = variant.price | money_without_currency | times: tier_money | round: 2 %}
                    {% assign product_price = variant.price | divided_by: 100.00 %}
                      <table class="responsive-table">
                        <tbody>
                        {% case forloop.index %}
                        {% when 1 %}
                          <tr class="responsive-table-row">
                            <td data-label="Quantity">Buy 2+</td>
                            <td data-label="Discount" style="color: #AC1229;">Save {{ tier | append: '%' }}</td>
                            <td data-label="Price" style="color: #0C5273;">{{ product_price | minus: tier_discount | times: 100 | money_without_currency | prepend: '$' | append: ' ' }}each</td>
                          </tr>
                        {% when 2 %}
                          <tr class="responsive-table-row">
                            <td data-label="Quantity">Buy 5+</td>
                            <td data-label="Discount" style="color: #AC1229;">Save {{ tier | append: '%' }}</td>
                            <td data-label="Price" style="color: #0C5273;">{{ product_price | minus: tier_discount | times: 100 | money_without_currency | prepend: '$' | append: ' ' }}each</td>
                          </tr>
                        {% when 3 %}
                          <tr class="responsive-table-row">
                            <td data-label="Quantity">Buy 10+</td>
                            <td data-label="Discount" style="color: #AC1229;">Save {{ tier | append: '%' }}</td>
                            <td data-label="Price" style="color: #0C5273;">{{ product_price | minus: tier_discount | times: 100 | money_without_currency | prepend: '$' | append: ' ' }} each</td>
                          </tr>
                        {% endcase %}
                      </tbody>
                    </table>
                  {% endfor %}
                  </div>
                </div>
            </div>
          {% endunless %}
        {% endfor %}
      {% endcapture %}
    {% when 'Tier_3_Discounts' %}
      {% capture tierPricing %}
        {% for variant in product.variants %}
          {% assign variant_title = variant.title | downcase %}
          {% unless variant_title contains "single" or variant_title contains "case" %}
            <div class="product-buy-more variant-discount-box" reference="{{ variant.title }}" id="variant-discount-{{ variant.id }}" style="display:none;">
              <div class="product-buy-more__header">Buy more, save more!</div>
              <div class="product-buy-more__content">
                <div class="product-tiered-pricing">
                {% for tier in Tier_3 %}
                  {% assign tier_money = tier | divided_by: 100.00 %}
                  {% assign tier_discount = variant.price | money_without_currency | times: tier_money | round: 2 %}
                  {% assign product_price = variant.price | divided_by: 100.00 %}
                    <table class="responsive-table">
                      <tbody>
                      {% case forloop.index %}
                      {% when 1 %}
                        <tr class="responsive-table-row">
                          <td data-label="Quantity">Buy 2-5</td>
                          <td data-label="Discount" style="color: #AC1229;">Save {{ tier | append: '%' }}</td>
                          <td data-label="Price" style="color: #0C5273;">{{ product_price | minus: tier_discount | times: 100 | money_without_currency | prepend: '$' | append: ' ' }}each</td>
                        </tr>
                      {% when 2 %}
                        <tr class="responsive-table-row">
                          <td data-label="Quantity">Buy 6+</td>
                          <td data-label="Discount" style="color: #AC1229;">Save {{ tier | append: '%' }}</td>
                          <td data-label="Price" style="color: #0C5273;">{{ product_price | minus: tier_discount | times: 100 | money_without_currency | prepend: '$' | append: ' ' }}each</td>
                        </tr>
                      {% endcase %}
                    </tbody>
                  </table>
                {% endfor %}
                </div>
              </div>
            </div>
          {% endunless %}
        {% endfor %}
      {% endcapture %}
  {% endcase %}
{% endfor %}

{% if tierPricing != blank %}
  {{ tierPricing }}
{% endif %}

<script>
document.addEventListener("DOMContentLoaded", function(event) {
  $("#option-Size-{{ product.id }}").find("input[name=\"Size\"]").on("change", function() {
    handle_size_change();
  })
  
  function handle_size_change() {
    let selected = $("#option-Size-{{ product.id }}").find("input[name=\"Size\"]:checked").val();
    if(selected) {
      $(".variant-discount-box").hide();
      $('.variant-discount-box[reference="'+selected+'"]').show();
    }
  }
  handle_size_change();
});
</script>