{% liquid
  assign on_sale = false
  assign sold_out = true
  assign option_size = product.variants | size
  if product.compare_at_price > product.price
    assign on_sale = true
  endif
  if product.available
    assign sold_out = false
  endif
  assign is_size = false
  for option in product.options_with_values
    assign optionName = option.name | downcase
    if optionName contains 'size'
      assign is_size = true
    endif
  endfor
%}

<div class="card-product__item {{ slideItem }}">
  <a class="card-product__link" href="{{ product.url | within: collection }}" aria-label="{{ product.url | handleize }}">
    <div class="card-product__picture">
      <img height="auto" width="auto" loading="lazy" class="card-product__image" src="{{ product.featured_image.src | product_img_url: '600x' }}" alt="{{ product.featured_image.alt | escape }}">
    </div>
    <div class="card-product-label">
      {% if sold_out %}
        <div class="card-product-label__item card-product__sold-out"> {{- settings.label_soldout -}} </div>
      {% endif %}
        {% if product.metafields.global.limited_time.value != blank %}
          <div class="card-product-label__item">
            {{ product.metafields.global.limited_time.value }}
          </div>
      {% endif %}
    </div>
  </a>
  <div class="card-product__bottom">
    <a role="heading" aria-level="3" class="card-product__title" href="{{ product.url | within: collection }}"> {{ product.title }} </a>
    {% if is_size %}
      <div class="card-product__label"> Various sizes</div>
    {% endif %}
    <div class="card-product__price">
      {% if on_sale %}
        <span class="card-product__price--sale">{{ product.price | money }}</span>
        <span class="card-product__price--old">{{ product.compare_at_price | money }}</span>
      {% else %}
        {% if is_size == true %} <span class="card-product__price-text">Starting at</span>{% endif %}
        <span>{{ product.price | money }}</span>
        <span class="card-product__price--old">{{ product.compare_at_price | money }}</span>
      {% endif %}
    </div>
  </div>
</div>
