{{ 'component-buttons.min.css' | asset_url | stylesheet_tag }}
{{ 'component-selector.min.css' | asset_url | stylesheet_tag }}
{{ 'section-main-account.min.css' | asset_url | stylesheet_tag }}

<script src="{{ 'customer.js' | asset_url }}" defer></script>

<div class="background-lightest-gray">
  <div class="page-width customer addresses">
    {% render 'account-menu', selected: 'addresses' %}
  
    <div class="account-content" data-customer-addresses>
      <div class="addresses__heading">
        <h1 class="addresses__header">{{ 'customer.addresses.default' | t }}</h1>
        <button
          class="primary-btn addresses__btn-desktop"
          type="button"
          aria-expanded="false"
          aria-controls="AddAddress"
        >
          {{ 'customer.addresses.add_new' | t }}
        </button>
      </div>

      <div class="addresses__modal" address-modal add-address-modal>
        <div class="modal-background"></div>
        <div id="AddAddress" class="addresses__modal-content">
          <div class="addresses__heading">
            <h2 class="addresses__header" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
            <button type="reset" class="addresses__icon-btn">{% render 'icon-close' %}</button>
          </div>

          {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
            <div class="addresses__form-row">
              <div class="addresses__field">
                <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
              </div>

              <div class="addresses__field">
                <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
              </div>
            </div>

            <div class="addresses__field">
              <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
              <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">
            </div>

            <div class="addresses__field">
              <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
              <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1">
            </div>

            <div class="addresses__field">
              <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
              <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2">
            </div>

            <div class="addresses__form-row">
              <div class="addresses__field">
                <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
              </div>
  
              <div class="addresses__field">
                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                <div>
                  <select
                    id="AddressCountryNew"
                    name="address[country]"
                    data-default="{{ form.country }}"
                    autocomplete="country"
                  >
                    {{ all_country_option_tags }}
                  </select>
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <use href="#icon-caret" />
                  </svg>
                </div>
              </div>
            </div>

            <div class="addresses__form-row">
              <div class="addresses__field" id="AddressProvinceContainerNew" style="display: none">
                <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                <div>
                  <select
                    id="AddressProvinceNew"
                    name="address[province]"
                    data-default="{{ form.province }}"
                    autocomplete="address-level1"
                  >
                  </select>
                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                    <use href="#icon-caret" />
                  </svg>
                </div>
              </div>
              
              <div class="addresses__field">
                <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
              </div>
            </div>
            
            <div class="addresses__field">
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel">
            </div>
            
            <div class="addresses__checkbox">
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
            </div>

            <div class="addresses__button-group">
              <button class="secondary-btn" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
              <button class="primary-btn">{{ 'customer.addresses.add' | t }}</button>
            </div>
          {%- endform -%}
        </div>
      </div>

      <div class="addresses__grid">
        {% render 'account-address', address: customer.default_address %}
      </div>

      {%- paginate customer.addresses by 5 -%}
        <div class="addresses__all">
          <svg style="display: none">
            <symbol id="icon-caret" viewBox="0 0 10 6">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
            </symbol>
          </svg>

          <h1 class="addresses__header">{{ 'customer.addresses.all' | t }}</h1>
          <div role="list" class="addresses__grid">
            {%- for address in customer.addresses -%}
              {% render 'account-address', address: address %}
            {%- endfor -%}
          </div>
      
          {%- if paginate.pages > 1 -%}
            {%- if paginate.parts.size > 0 -%}
                <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                  <ul role="list">
                  {%- if paginate.previous -%}
                    <li>
                      <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}
      
                  {%- for part in paginate.parts -%}
                    <li>
                      {%- if part.is_link -%}
                        <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                      {%- else -%}
                        {%- if part.title == paginate.current_page -%}
                          <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                        {%- else -%}
                          <span>{{ part.title }}</span>
                        {%- endif -%}
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
      
                  {%- if paginate.next -%}
                    <li>
                      <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                        </svg>
                      </a>
                    </li>
                  {%- endif -%}
                  </ul>
                </nav>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- endpaginate -%}

      <button
        class="primary-btn addresses__btn-mobile"
        type="button"
        aria-expanded="false"
        aria-controls="AddAddress"
      >
        {{ 'customer.addresses.add_new' | t }}
      </button>
    </div>
  </div>
</div>
