<!doctype html> 
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-968343338"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'AW-968343338');
    </script>
  
    <script type="text/javascript">
      if (window.location.hostname.replaceAll('.','') !== "wwwoldtimecandy") { 
        if (window.location.hostname == "www.oldtimecandy.com") {

        } else {
          window.location.replace('https://www.oldtimecandy.com');
        }
      };      
    </script>    
    {%- comment -%}smartseo_integration_begin{%- endcomment -%}{% include 'smartseo' %}{%- comment -%}smartseo_integration_end{%- endcomment -%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=6">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="dns-prefetch" href="https://cx.atdmt.com">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
    <link rel="dns-prefetch" href="https://rechargeassets-bootstrapheroes-rechargeapps.netdna-ssl.com">
    <link rel="dns-prefetch" href="https://bid.g.doubleclick.net">
    <link rel="dns-prefetch" href="https://recovermycart.com">
    <link rel="dns-prefetch" href="https://assets.smartwishlist.webmarked.net">
    <link rel="dns-prefetch" href="https://front.smartwishlist.webmarked.net">
    <link rel="dns-prefetch" href="https://connect.facebook.net">  
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com">    

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}
    
    {% render 'meta-tags' %}
    {{ 'template-styles.min.css' | asset_url | stylesheet_tag }}
    {{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'jquery-3.6.0.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>    
    <script src="{{ 'readmore.js' | asset_url }}" defer="defer"></script>  
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script> 

    {{ content_for_header }}

    {%- liquid  
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-weight-bold: {{ settings.type_body_font.weight | plus: 300 | at_most: 1000 }};

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};

        --font-body-scale: {{ settings.body_scale | divided_by: 100.0 }};
        --font-heading-scale: {{ settings.heading_scale | times: 1.0 | divided_by: settings.body_scale }};

        --color-heading-text: {{ settings.heading_color.red }}, {{ settings.heading_color.green }}, {{ settings.heading_color.blue }};
        --color-base-text: {{ settings.colors_text.red }}, {{ settings.colors_text.green }}, {{ settings.colors_text.blue }};
        --color-light-text: {{ settings.light_text_color.red }}, {{ settings.light_text_color.green }}, {{ settings.light_text_color.blue }};
        --color-link-text: {{ settings.link_color.red }}, {{ settings.link_color.green }}, {{ settings.link_color.blue }};
        --color-link-hover-text: {{ settings.link_color_hover.red }}, {{ settings.link_color_hover.green }}, {{ settings.link_color_hover.blue }};
        --color-primary-background: {{ settings.primary_background.red }}, {{ settings.primary_background.green }}, {{ settings.primary_background.blue }};
        --color-secondary-background: {{ settings.secondary_background.red }}, {{ settings.secondary_background.green }}, {{ settings.secondary_background.blue }};
        --color-basic-background: {{ settings.basic_background.red }}, {{ settings.basic_background.green }}, {{ settings.basic_background.blue }};
        
        --color-primary-button-text: {{ settings.primary_button_color.red }}, {{ settings.primary_button_color.green }}, {{ settings.primary_button_color.blue }};
        --color-primary-button-background: {{ settings.primary_button_background.red }}, {{ settings.primary_button_background.green }}, {{ settings.primary_button_background.blue }};
        --color-secondary-button-text: {{ settings.secondary_button_color.red }}, {{ settings.secondary_button_color.green }}, {{ settings.secondary_button_color.blue }};
        --color-secondary-button-background: {{ settings.secondary_button_background.red }}, {{ settings.secondary_button_background.green }}, {{ settings.secondary_button_background.blue }};
        --color-secondary-button-border: {{ settings.secondary_button_border.red }}, {{ settings.secondary_button_border.green }}, {{ settings.secondary_button_border.blue }};

        --media-padding: {{ settings.media_padding }}px; 
        --media-border-opacity: {{ settings.media_border_opacity | divided_by: 100.0 }};
        --media-border-width: {{ settings.media_border_thickness }}px;
        --media-radius: {{ settings.media_radius }}px;
        --media-shadow-opacity: {{ settings.media_shadow_opacity | divided_by: 100.0 }};
        --media-shadow-horizontal-offset: {{ settings.media_shadow_horizontal_offset }}px;
        --media-shadow-vertical-offset: {{ settings.media_shadow_vertical_offset }}px;
        --media-shadow-blur-radius: {{ settings.media_shadow_blur }}px;

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;

        --card-image-padding: {{ settings.card_image_padding | divided_by: 10.0 }}rem;
        --card-corner-radius: {{ settings.card_corner_radius | divided_by: 10.0 }}rem;
        --card-text-alignment: {{ settings.card_text_alignment }};
        --card-border-width: {{ settings.card_border_thickness | divided_by: 10.0 }}rem;
        --card-border-opacity: {{ settings.card_border_opacity | divided_by: 100.0 }};
        --card-shadow-opacity: {{ settings.card_shadow_opacity | divided_by: 100.0 }};
        --card-shadow-horizontal-offset: {{ settings.card_shadow_horizontal_offset | divided_by: 10.0 }}rem;
        --card-shad</ow-vertical-offset: {{ settings.card_shadow_vertical_offset | divided_by: 10.0 }}rem;
        --card-shadow-blur-radius: {{ settings.card_shadow_blur | divided_by: 10.0 }}rem;

        --badge-corner-radius: {{ settings.badge_corner_radius | divided_by: 10.0 }}rem;

        --popup-border-width: {{ settings.popup_border_thickness }}px;
        --popup-border-opacity: {{ settings.popup_border_opacity | divided_by: 100.0 }};
        --popup-corner-radius: {{ settings.popup_corner_radius }}px;
        --popup-shadow-opacity: {{ settings.popup_shadow_opacity | divided_by: 100.0 }};
        --popup-shadow-horizontal-offset: {{ settings.popup_shadow_horizontal_offset }}px;
        --popup-shadow-vertical-offset: {{ settings.popup_shadow_vertical_offset }}px;
        --popup-shadow-blur-radius: {{ settings.popup_shadow_blur }}px;

        --drawer-border-width: {{ settings.drawer_border_thickness }}px;
        --drawer-border-opacity: {{ settings.drawer_border_opacity | divided_by: 100.0 }};
        --drawer-shadow-opacity: {{ settings.drawer_shadow_opacity | divided_by: 100.0 }};
        --drawer-shadow-horizontal-offset: {{ settings.drawer_shadow_horizontal_offset }}px;
        --drawer-shadow-vertical-offset: {{ settings.drawer_shadow_vertical_offset }}px;
        --drawer-shadow-blur-radius: {{ settings.drawer_shadow_blur }}px;

        --spacing-sections-desktop: {{ settings.spacing_sections }}px;
        --spacing-sections-mobile: {% if settings.spacing_sections < 24 %}{{ settings.spacing_sections }}{% else %}{{ settings.spacing_sections | times: 0.7 | round | at_least: 20 }}{% endif %}px;

        --grid-desktop-vertical-spacing: {{ settings.spacing_grid_vertical }}px;
        --grid-desktop-horizontal-spacing: {{ settings.spacing_grid_horizontal }}px;
        --grid-mobile-vertical-spacing: {{ settings.spacing_grid_vertical | divided_by: 2 }}px;
        --grid-mobile-horizontal-spacing: {{ settings.spacing_grid_horizontal | divided_by: 2 }}px;

        --text-boxes-border-opacity: {{ settings.text_boxes_border_opacity | divided_by: 100.0 }};
        --text-boxes-border-width: {{ settings.text_boxes_border_thickness }}px;
        --text-boxes-radius: {{ settings.text_boxes_radius }}px;
        --text-boxes-shadow-opacity: {{ settings.text_boxes_shadow_opacity | divided_by: 100.0 }};
        --text-boxes-shadow-horizontal-offset: {{ settings.text_boxes_shadow_horizontal_offset }}px;
        --text-boxes-shadow-vertical-offset: {{ settings.text_boxes_shadow_vertical_offset }}px;
        --text-boxes-shadow-blur-radius: {{ settings.text_boxes_shadow_blur }}px;

        --buttons-radius: {{ settings.buttons_radius }}px;
        --buttons-radius-outset: {% if settings.buttons_radius > 0 %}{{ settings.buttons_radius | plus: settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-width: {% if settings.buttons_border_opacity > 0 %}{{ settings.buttons_border_thickness }}{% else %}0{% endif %}px;
        --buttons-border-opacity: {{ settings.buttons_border_opacity | divided_by: 100.0 }};
        --buttons-shadow-opacity: {{ settings.buttons_shadow_opacity | divided_by: 100.0 }};
        --buttons-shadow-horizontal-offset: {{ settings.buttons_shadow_horizontal_offset }}px;
        --buttons-shadow-vertical-offset: {{ settings.buttons_shadow_vertical_offset }}px;
        --buttons-shadow-blur-radius: {{ settings.buttons_shadow_blur }}px;
        --buttons-border-offset: {% if settings.buttons_radius > 0 or settings.buttons_shadow_opacity > 0 %}0.3{% else %}0{% endif %}px;

        --inputs-radius: {{ settings.inputs_radius }}px;
        --inputs-border-width: {{ settings.inputs_border_thickness }}px;
        --inputs-border-opacity: {{ settings.inputs_border_opacity | divided_by: 100.0 }};
        --inputs-shadow-opacity: {{ settings.inputs_shadow_opacity | divided_by: 100.0 }};
        --inputs-shadow-horizontal-offset: {{ settings.inputs_shadow_horizontal_offset }}px;
        --inputs-margin-offset: {% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_opacity > 0 %}{{ settings.inputs_shadow_vertical_offset | abs }}{% else %}0{% endif %}px;
        --inputs-shadow-vertical-offset: {{ settings.inputs_shadow_vertical_offset }}px;
        --inputs-shadow-blur-radius: {{ settings.inputs_shadow_blur }}px;
        --inputs-radius-outset: {% if settings.inputs_radius > 0 %}{{ settings.inputs_radius | plus: settings.inputs_border_thickness }}{% else %}0{% endif %}px;

        --variant-pills-radius: {{ settings.variant_pills_radius }}px;
        --variant-pills-border-width: {{ settings.variant_pills_border_thickness }}px;
        --variant-pills-border-opacity: {{ settings.variant_pills_border_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-opacity: {{ settings.variant_pills_shadow_opacity | divided_by: 100.0 }};
        --variant-pills-shadow-horizontal-offset: {{ settings.variant_pills_shadow_horizontal_offset }}px;
        --variant-pills-shadow-vertical-offset: {{ settings.variant_pills_shadow_vertical_offset }}px;
        --variant-pills-shadow-blur-radius: {{ settings.variant_pills_shadow_blur }}px;
        --backgound-soldout: {{ settings.bg_soldout }};
        --color-sold-out: {{ settings.color_soldout }};
        --backgound-limit-time: {{ settings.bg_limit_time }};
        --color-limit-time: {{ settings.color_limit_titme }};
        --backgound-great-gift: {{ settings.bg_great_gift }};
        --color-great-gift: {{ settings.color_great_gift }};
        --backgound-label-1: {{ settings.bg_custom_label_1 }};
        --color-label-1: {{ settings.color_custom_label_1 }};
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-product-list.css' | asset_url | stylesheet_tag }}
    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
    {{ 'component-predictive-search.css' | asset_url | stylesheet_tag }}
    {%- endif -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    if (Shopify.designMode) {
      document.documentElement.classList.add('shopify-design-mode');
    }
    </script>
    
    {% render 'adwords-remarketing' %}
    
    {% if template contains 'register' %}
      <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    {% endif %}    
    
  {% if settings.ss_enable %}
    {% render 'ss-script' %}
  {% endif %}
  {% section 'header-misc-scripts' %}
  
  {% if settings.icebrix-enable %}
    <script>
      window.iceBrix = {
        id: '{{ all_products[settings.icebrix-product].variants.first.id }}',
        handle: '{{ all_products[settings.icebrix-product].handle }}'
      };
    </script>
  {% endif %}
  
  </head>

  <body aria-hidden="false" class="template-{{ request.page_type | handle }} {% if settings.ss_enable and collection.handle and collection.handle == settings.ss_collection_handle %} ss-shop{% endif %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPDCTQW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->       
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section 'announcement-bar' %}
    {% section 'header' %}
    
    {% render 'include--cart-dawn' %}

    {% render 'loading-indicator' %}
    
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% if template contains 'product' %}
      {% render 'include--popup-cart' %}
    {% endif %}
    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">{{ 'accessibility.refresh_page' | t }}</li>
    </ul>

    <script>
      window.shopUrl = '{{ request.origin }}';
      window.routes = {
        cart_add_url: '{{ routes.cart_add_url }}',
        cart_change_url: '{{ routes.cart_change_url }}',
        cart_update_url: '{{ routes.cart_update_url }}',
        predictive_search_url: '{{ routes.predictive_search_url }}'
      };

      window.cartStrings = {
        error: `{{ 'sections.cart.cart_error' | t }}`,
        quantityError: `{{ 'sections.cart.cart_quantity_error_html' | t: quantity: '[quantity]' }}`
      }

      window.variantStrings = {
        addToCart: `{{ 'products.product.add_to_cart' | t }}`,
        soldOut: `{{ 'products.product.sold_out' | t }}`,
        unavailable: `{{ 'products.product.unavailable' | t }}`,
      }

      window.accessibilityStrings = {
        imageAvailable: `{{ 'products.product.media.image_available' | t: index: '[index]' }}`,
        shareSuccess: `{{ 'general.share.success_message' | t }}`,
        pauseSlideshow: `{{ 'sections.slideshow.pause_slideshow' | t }}`,
        playSlideshow: `{{ 'sections.slideshow.play_slideshow' | t }}`,
      }

      window.placeholder = `{{ settings.placeholder }}`
    </script>

    {% if settings.ss_enable == false %}
    	{%- if settings.predictive_search_enabled -%}
      		<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
    	{%- endif -%}
    {%- endif -%}

    {% render 'include--message' %}
    <!-- Back in Stock helper snippet -->
    {% render 'back-in-stock-helper' %}
    <!-- End Back in Stock helper snippet -->

    <script>
      //needed for shipping insurance
      {% comment %}
        {% assign insurance_product = all_products['routeins-1'] %}
        {% capture insurance_variants %}
        {% for variant in insurance_product.variants %}
          {
            "id": {{ variant.id }}, 
              "title": "{{ variant.title }}", 
              "price": {{ variant.price }}, 
                "sku": "{{ variant.sku }}"
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
        {% endcapture %}               
      {% endcomment %}
      window.OTCIns={id:4480997228596,title:"Shipping Insurance",price:98,price_min:98,price_max:14038,available:!0,variants:[{id:40328650817588,title:"$0.98",price:98,sku:"OTCINS10"},{id:40328650850356,title:"$1.15",price:115,sku:"OTCINS11"},{id:40328650883124,title:"$1.35",price:135,sku:"OTCINS12"},{id:40328650915892,title:"$1.55",price:155,sku:"OTCINS13"},{id:40328650948660,title:"$1.75",price:175,sku:"OTCINS14"},{id:40328650981428,title:"$1.95",price:195,sku:"OTCINS15"},{id:40328651014196,title:"$2.15",price:215,sku:"OTCINS16"},{id:40328651046964,title:"$2.35",price:235,sku:"OTCINS17"},{id:40328651079732,title:"$2.55",price:255,sku:"OTCINS18"},{id:40328651112500,title:"$2.75",price:275,sku:"OTCINS19"},{id:40328651145268,title:"$2.95",price:295,sku:"OTCINS20"},{id:40328651178036,title:"$3.15",price:315,sku:"OTCINS21"},{id:40328651210804,title:"$3.35",price:335,sku:"OTCINS22"},{id:40328651243572,title:"$3.55",price:355,sku:"OTCINS23"},{id:40328651276340,title:"$3.75",price:375,sku:"OTCINS24"},{id:40328651309108,title:"$3.95",price:395,sku:"OTCINS25"},{id:40328651341876,title:"$4.15",price:415,sku:"OTCINS26"},{id:40328651374644,title:"$4.35",price:435,sku:"OTCINS27"},{id:40328651407412,title:"$4.55",price:455,sku:"OTCINS28"},{id:40328651440180,title:"$4.75",price:475,sku:"OTCINS29"},{id:40328651472948,title:"$4.95",price:495,sku:"OTCINS30"},{id:40328651505716,title:"$5.15",price:515,sku:"OTCINS31"},{id:40328651538484,title:"$5.35",price:535,sku:"OTCINS32"},{id:40328651571252,title:"$5.55",price:555,sku:"OTCINS33"},{id:40328651604020,title:"$5.75",price:575,sku:"OTCINS34"},{id:40328651636788,title:"$5.95",price:595,sku:"OTCINS35"},{id:40328651669556,title:"$6.15",price:615,sku:"OTCINS36"},{id:40328651702324,title:"$6.35",price:635,sku:"OTCINS37"},{id:40328651735092,title:"$6.55",price:655,sku:"OTCINS38"},{id:40328651767860,title:"$6.75",price:675,sku:"OTCINS39"},{id:40328651800628,title:"$6.95",price:695,sku:"OTCINS40"},{id:40328651833396,title:"$7.15",price:715,sku:"OTCINS41"},{id:40328651866164,title:"$7.35",price:735,sku:"OTCINS42"},{id:40328651898932,title:"$7.55",price:755,sku:"OTCINS43"},{id:40328651931700,title:"$7.75",price:775,sku:"OTCINS44"},{id:40328651964468,title:"$7.95",price:795,sku:"OTCINS45"},{id:40328651997236,title:"$8.15",price:815,sku:"OTCINS46"},{id:40328652030004,title:"$8.35",price:835,sku:"OTCINS47"},{id:40328652062772,title:"$8.55",price:855,sku:"OTCINS48"},{id:40328652095540,title:"$8.75",price:875,sku:"OTCINS49"},{id:40328652128308,title:"$8.95",price:895,sku:"OTCINS50"},{id:40328652161076,title:"$9.38",price:938,sku:"OTCINS51"},{id:40328652193844,title:"$10.03",price:1003,sku:"OTCINS52"},{id:40328652226612,title:"$10.68",price:1068,sku:"OTCINS53"},{id:40328652259380,title:"$11.33",price:1133,sku:"OTCINS54"},{id:40328652292148,title:"$11.98",price:1198,sku:"OTCINS55"},{id:40328652324916,title:"$12.63",price:1263,sku:"OTCINS56"},{id:40328652357684,title:"$13.28",price:1328,sku:"OTCINS57"},{id:40328652390452,title:"$13.93",price:1393,sku:"OTCINS58"},{id:40328652423220,title:"$14.58",price:1458,sku:"OTCINS59"},{id:40328652455988,title:"$15.23",price:1523,sku:"OTCINS60"},{id:40328652488756,title:"$15.88",price:1588,sku:"OTCINS61"},{id:40328652521524,title:"$16.53",price:1653,sku:"OTCINS62"},{id:40328652554292,title:"$17.18",price:1718,sku:"OTCINS63"},{id:40328652587060,title:"$17.83",price:1783,sku:"OTCINS64"},{id:40328652619828,title:"$18.48",price:1848,sku:"OTCINS65"},{id:40328652652596,title:"$19.13",price:1913,sku:"OTCINS66"},{id:40328652685364,title:"$19.78",price:1978,sku:"OTCINS67"},{id:40328652718132,title:"$20.43",price:2043,sku:"OTCINS68"},{id:40328652750900,title:"$24.38",price:2438,sku:"OTCINS69"},{id:40328652783668,title:"$31.63",price:3163,sku:"OTCINS70"},{id:40328652816436,title:"$38.88",price:3888,sku:"OTCINS71"},{id:40328652849204,title:"$46.13",price:4613,sku:"OTCINS72"},{id:40328652881972,title:"$53.38",price:5338,sku:"OTCINS73"},{id:40328652914740,title:"$60.63",price:6063,sku:"OTCINS74"},{id:40328652947508,title:"$67.88",price:6788,sku:"OTCINS75"},{id:40328652980276,title:"$75.13",price:7513,sku:"OTCINS76"},{id:40328653013044,title:"$82.38",price:8238,sku:"OTCINS77"},{id:40328653045812,title:"$89.63",price:8963,sku:"OTCINS78"},{id:40328653078580,title:"$96.88",price:9688,sku:"OTCINS79"},{id:40328653111348,title:"$104.13",price:10413,sku:"OTCINS80"},{id:40328653144116,title:"$111.38",price:11138,sku:"OTCINS81"},{id:40328653176884,title:"$118.63",price:11863,sku:"OTCINS82"},{id:40328653209652,title:"$125.88",price:12588,sku:"OTCINS83"},{id:40328653242420,title:"$133.13",price:13313,sku:"OTCINS84"},{id:40328653275188,title:"$140.38",price:14038,sku:"OTCINS85"}]};    
    </script>    
    <script src="{{ 'cart-dawn.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'suggested.js' | asset_url }}" defer="defer"></script>
    {% if template contains 'collection' %}
      <script src="{{ 'collections.js' | asset_url }}" defer="defer"></script>
    {% endif %}
    {% if settings.ss_enable %}
		  {% render 'ss-intellisuggest' %}
	  {% endif %}
    {% section 'footer-misc-scripts' %}
    {% render 'subscription-theme-footer' %}
    {% comment %}if template.suffix == 'pack-a-bag'{% endcomment %}
    {% if template.suffix == 'pack-a-bag' %}
      <style>
        #gorgias-chat-container, .Rise__widget {
          display: none !important;
        }        
      </style>
    {% else %}
    <style> 
      #gorgias-chat-container iframe {right: unset !important;left: 5px !important;}
      @media (min-width: 768px) {#gorgias-chat-container iframe {left: 20px !important;}} 
      #hbl-live-chat-wrapper { display: none !important; }
    </style>
    {% endif %}
    <!--Gorgias Chat Widget Start--><script id="gorgias-chat-widget-install">!function(_){_.GORGIAS_CHAT_APP_ID="5725",_.GORGIAS_CHAT_BASE_URL="us-east1-898b.production.gorgias.chat",_.GORGIAS_API_BASE_URL="config.gorgias.chat";var e=new XMLHttpRequest;e.open("GET","https://config.gorgias.chat/applications/5725",!0),e.onload=function(t){if(4===e.readyState)if(200===e.status){var n=JSON.parse(e.responseText);if(!n.application||!n.bundleVersion)throw new Error("Missing fields in the response body - https://config.gorgias.chat/applications/5725");if(_.GORGIAS_CHAT_APP=n.application,_.GORGIAS_CHAT_BUNDLE_VERSION=n.bundleVersion,n&&n.texts&&(_.GORGIAS_CHAT_TEXTS=n.texts),n&&n.sspTexts&&(_.GORGIAS_CHAT_SELF_SERVICE_PORTAL_TEXTS=n.sspTexts),!document.getElementById("gorgias-chat-container")){var o=document.createElement("div");o.id="gorgias-chat-container",document.body.appendChild(o);var r=document.createElement("script");r.setAttribute("defer",!0),r.src="https://client-builds.production.gorgias.chat/{bundleVersion}/static/js/main.js".replace("{bundleVersion}",n.bundleVersion),document.body.appendChild(r)}}else console.error("Failed request GET - https://config.gorgias.chat/applications/5725")},e.onerror=function(_){console.error(_)},e.send()}(window||{});</script><script id="gorgias-chat-shopify-install">!function(_){_.SHOPIFY_PERMANENT_DOMAIN="{{shop.permanent_domain}}",_.SHOPIFY_CUSTOMER_ID="{{customer.id}}",_.SHOPIFY_CUSTOMER_EMAIL="{{customer.email}}"}(window||{});</script><!--Gorgias Chat Widget End-->    
    <style>
    .fa-star, .fa-star-o, .fa-star-half-o, .stamped-fa-star, .stamped-fa-star-o, .stamped-fa-star-half-o, .product__form .stamped-badge .stamped-badge-starrating .stamped-fa {color: #000 !important;}
    </style>

    <script>
      /*Stamped - Custom char limit to the main widget*/
      function addEventListenerStamped(el, eventName, handler) { 
        if (el.addEventListener) { el.addEventListener(eventName, handler); }
        else { el.attachEvent('on' + eventName, function () { handler.call(el); }); } 
      }

      addEventListenerStamped(document, 'stamped:reviews:loaded', function(e) {
        jQuery('.stamped-form-review-body .stamped-form-input-textarea').attr("minlength","3");
        jQuery('.stamped-form-review-body .stamped-form-input-textarea').attr("minlength","3");
      });
    </script>
    <script type="text/javascript">
      var _learnq = _learnq || [];
      function addedToCart() {
        fetch(`${window.location.origin}/cart.js`)
        .then(res => res.clone().json().then(data => {
          var cart = {
            total_price: data.total_price/100,
            $value: data.total_price/100,
            total_discount: data.total_discount,
            original_total_price: data.original_total_price/100,
            items: data.items
          }
          _learnq.push(['track', 'Added to Cart', cart])
        }))
      } 
      (function (ns, fetch) {
        ns.fetch = function() {
          const response = fetch.apply(this, arguments);
          response.then(res => {
            if (`${window.location.origin}/cart/add.js`
              .includes(res.url)) {
                addedToCart()
            }
          });
          return response
        }
      }(window, window.fetch))
      document.addEventListener("DOMContentLoaded", function(event) {
        $(document).ajaxComplete(function(event, request, settings){
          if(settings.url == "/cart/add.js"){
              addedToCart()
          }
        });
      });
      </script>    
  </body>
</html>
