<div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ section.shopify_attributes }}>
  {%- if section.settings.text != blank -%}
    {%- if section.settings.link != blank -%}
      <a href="{{ section.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
    {%- endif -%}
        <p class="announcement-bar__message h5">
          {{ section.settings.text | escape }}
          {%- if section.settings.link != blank -%}
            {% render 'icon-arrow' %}
          {%- endif -%}
        </p>
    {%- if section.settings.link != blank -%}
      </a>
    {%- endif -%}
  {%- endif -%}
</div>
{% style %}
  :root {
    --color-announcement-text: {{ section.settings.color_text.red }}, {{ section.settings.color_text.green }}, {{ section.settings.color_text.blue }};
    --background-announcement: {{ section.settings.color_bg.red }}, {{ section.settings.color_bg.green }}, {{ section.settings.color_bg.blue }};
  }
  .announcement-bar{
    background: rgba(var(--background-announcement), 1);
  }
  .announcement-bar__message.h5{
    color: rgba(var(--color-announcement-text), 1);
  }
{% endstyle %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Welcome to our store",
      "label": "t:sections.announcement-bar.settings.text.label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.announcement-bar.settings.link.label"
    },
    {
        "type": "color",
        "id": "color_text",
        "label": "Text Color",
        "default": "#0C5273"
    },  
    {
        "type": "color",
        "id": "color_bg",
        "label": "Background Color",
        "default": "#BBE2DD"
    }
  ]
}
{% endschema %}
