
<div class="collection-candy__inner">
  <div class="container">
    {% if section.settings.title != blank %}
      <h3 class="collection-candy__title">
        <span>{{ section.settings.title }}</span>
      </h3>
    {% endif %}
    <div class="collection-candy__wrapper">
      {%- assign collection = collections[section.settings.collection] -%}
      <div class="swiper js-product-slider">
        <div class="swiper-wrapper collection-candy__list col-4">
          {%- for product in collection.products limit: section.settings.row -%}
            {% render 'include--product-card', product: product, slideItem: 'swiper-slide' %}
          {%- endfor -%}
          {% if section.settings.show_view_all %}
            <div class="card-product__item collection-view-all">
              <a class="collection-view-all__link" href="{{ collection.url }}">
                <span>Shop all</span>
                <span> {{ collection.title }} </span>
                <span class="collection-view-all__link-icon">
                  <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13L6.68421 7L0.999999 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
              </a>
            </div>
          {% endif %}
        </div>
        <div class="custom-swiper-pagination swiper-pagination"></div>
      </div>
      <div class="collection-view-all__mobile">
        <a class="collection-view-all__mobil-link button" href="{{ collection.url }}"> Shop all {{ collection.title }} </a>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Candy Product list",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "Title",
        "default": "Collection title"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Select collection"
      },
      {
        "type": "range",
        "id": "row",
        "label": "Product per row",
        "min": 3,
        "max": 20,
        "step": 1,
        "default": 7
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Candy Product list"
      }
    ]
  }
{% endschema %}
