{{ 'template-collection.css' | asset_url | stylesheet_tag }}
<div class="collection-candy__header">
  <div class="container">
    {% if section.settings.sub_headder != blank %}
      <div class="collection-candy__header-sub">
        {{- section.settings.sub_headder -}}
      </div>
    {% endif %}
    {% if section.settings.sub_headder != blank %}
      <h1 class="collection-candy__header-title">
        {{- section.settings.sub_headder -}}
      </h1>
    {% endif %}
  </div>
</div>
<style>
  .collection-candy__header {
    background-color: {{ section.settings.bg_color }}
  }

  .collection-candy__header-sub {
    color: {{ section.settings.color_sub }}
  }

  .collection-candy__header-title {
    color: {{ section.settings.color_title }}
  }
</style>

{% schema %}
  {
    "name": "Banner",
    "settings": [
      {
        "type" : "textarea",
        "id": "sub_headder",
        "label": "Sub title",
        "default": "WALK THE CANDY AISLE"
      },
      {
        "type": "color",
        "id": "color_sub",
        "label": "Color Sub tilte",
        "default": "#0C5273"
      },
      {
        "type" : "textarea",
        "id": "title",
        "label": "Title",
        "default": "Discover over 300 different kinds of Candy you ate as a kid®"
      },
      {
        "type": "color",
        "id": "color_title",
        "label": "Color Tilte",
        "default": "#262626"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#BBE2DD"
      }
    ]
  }
{% endschema %}