{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .select__select {
    font-family: var(--font-default);
    font-size: 1.6rem;    
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    <h2 class="title title-wrapper--no-top-margin {{ section.settings.heading_size }}">{{ section.settings.heading | escape }}</h2>
    {%- form 'contact', id: 'ContactForm', class: 'isolate' -%}
      {%- if form.posted_successfully? -%}
        <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
            {% render 'icon-success' %} 
            <p>Thanks for sending your information!<br>
            Now what happens??</p>
            
            <p>We will respond by email with further instructions within one business day, sometimes faster.</p>
            
            <p>If requesting a personalized candy box top, you will be asked for your box top information including logo/graphic and message. We will send a proof before you purchase. There is no obligation to buy.</p>
            
            <p>While you are waiting:</p>
            
            <p>Track down your corporate logo/graphic in electronic format: To print well we will need a high resolution file. A "tiff" or "bmp" format works the best. Do not reduce the file size.</p>
            
            <p>Write your box top message: Messages of 10 to 50 words seem to work the best.</p>
            
            <p>Or, design your own box top. For the 4 lb assortment use 8 1/2 by 11 inch, landscape format with 3/8 inch borders. The 2 lb assortment requires a 6 by 9 inch box top with 1/4 inch borders. We can accept MS Word, PowerPoint or Adobe PDF formats.</p>
            
            <p>You will be hearing from us soon. Thanks again!</p>
        </div>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      <div class="contact__fields">
        <div class="field field--with-error">
            <input
              type="text"
              id="ContactForm-business_name"
              class="field__input"
              name="contact[business_name]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.business_name %}{{ form.business_name }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'business_name' %}
                aria-invalid="true"
                aria-describedby="ContactForm-business_name-error"
              {% endif %}
              placeholder="Business Name"
            >
            <label class="field__label" for="ContactForm-business_name">Business Name <span aria-hidden="true">*</span></label>
            {%- if form.errors contains 'business_name' -%}
              <small class="contact__field-error" id="ContactForm-business_name-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['business_name'] | capitalize }} {{ form.errors.messages['business_name'] }}</span>
              </small>
            {%- endif -%}
          </div>
          <div class="field field--with-error">
            <input
              type="text"
              id="ContactForm-contact_name"
              class="field__input"
              name="contact[contact_name]"
              spellcheck="false"
              autocapitalize="off"
              value="{% if form.contact_name %}{{ form.contact_name }}{% endif %}"
              aria-required="true"
              {% if form.errors contains 'contact_name' %}
                aria-invalid="true"
                aria-describedby="ContactForm-contact_name-error"
              {% endif %}
              placeholder="Contact Name"
            >
            <label class="field__label" for="ContactForm-contact_name">Contact Name <span aria-hidden="true">*</span></label>
            {%- if form.errors contains 'contact_name' -%}
              <small class="contact__field-error" id="ContactForm-contact_name-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['contact_name'] | capitalize }} {{ form.errors.messages['contact_name'] }}</span>
              </small>
            {%- endif -%}
          </div>          
      </div>
      <div class="contact__fields">
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
          >
          <label class="field__label" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
          {%- if form.errors contains 'email' -%}
            <small class="contact__field-error" id="ContactForm-email-error">
              <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
              <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            </small>
          {%- endif -%}
        </div>
        <div class="field">
          <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
          <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
        </div>        
      </div>
      <div class="contact__fields">
        <div class="field">
            <div class="select">
              <select id="ContactForm-Assortment"
                class="select__select"
                name="contact[assortment]"
              >
                <option value="">Which assortment or product would you like to send?</option>
                <option value="Classic Decade Gift Box">Classic Decade Gift Box</option>
                <option value="Personalized Occasion Box">Personalized Occasion Box</option>
                <option value="Predesigned Occasion Box">Predesigned Occasion Box</option>
                <option value="Retro Candy Assortment">Retro Candy Assortment</option>
                <option value="Candy Bar Bouquet">Candy Bar Bouquet</option>
                <option value="Personalized Candy Bars">Personalized Candy Bars</option>
                <option value="Candy you ate as a kid® decade bag">Candy you ate as a kid® decade bag</option>
                <option value="Chocolate Roses">Chocolate Roses</option>
                <option value="Glass Candy Jar">Glass Candy Jar</option>
                <option value="Plastic Tub of Candy">Plastic Tub of Candy</option>
                <option value="Party Favor">Party Favor</option>
                <option value="Gift Mug">Gift Mug</option>
                <option value="Lunch Box">Lunch Box</option>
                <option value="Other">Other</option>
              </select>
              {% render 'icon-caret' %}
            </div>
        </div>    
        <div class="field field--with-error">
            <input
                type="text"
                id="ContactForm-quantity"
                class="field__input"
                name="contact[quantity]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.quantity %}{{ form.quantity }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'quantity' %}
                aria-invalid="true"
                aria-describedby="ContactForm-quantity-error"
                {% endif %}
                placeholder="Quantity Needed"
            >
            <label class="field__label" for="ContactForm-quantity">Quantity Needed <span aria-hidden="true">*</span></label>
            {%- if form.errors contains 'quantity' -%}
                <small class="contact__field-error" id="ContactForm-quantity-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['quantity'] | capitalize }} {{ form.errors.messages['quantity'] }}</span>
                </small>
            {%- endif -%}
        </div>
      </div>
      <div class="contact__fields">
        <div class="field field--with-error">
            <input
                type="text"
                id="ContactForm-locations"
                class="field__input"
                name="contact[locations]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.locations %}{{ form.locations }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'locations' %}
                aria-invalid="true"
                aria-describedby="ContactForm-locations-error"
                {% endif %}
                placeholder="Single or Multiple Locations"
            >
            <label class="field__label" for="ContactForm-locations">Single or Multiple Locations <span aria-hidden="true">*</span></label>
            {%- if form.errors contains 'locations' -%}
                <small class="contact__field-error" id="ContactForm-locations-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['locations'] | capitalize }} {{ form.errors.messages['locations'] }}</span>
                </small>
            {%- endif -%}
        </div>
        <div class="field field--with-error">
            <input
                type="text"
                id="ContactForm-delivery_date"
                class="field__input"
                name="contact[delivery_date]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.delivery_date %}{{ form.delivery_date }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'delivery_date' %}
                aria-invalid="true"
                aria-describedby="ContactForm-delivery_date-error"
                {% endif %}
                placeholder="Delivery Date"
            >
            <label class="field__label" for="ContactForm-delivery_date">Delivery Date <span aria-hidden="true">*</span></label>
            {%- if form.errors contains 'delivery_date' -%}
                <small class="contact__field-error" id="ContactForm-delivery_date-error">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                <span class="form__message">{% render 'icon-error' %}{{ form.errors.translated_fields['delivery_date'] | capitalize }} {{ form.errors.messages['delivery_date'] }}</span>
                </small>
            {%- endif -%}
        </div>        
      </div>
      <div class="field">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[{{ 'templates.contact.form.comment' | t }}]"
          placeholder="Comments / Questions"
        >
          {{- form.body -}}
        </textarea>
        <label class="form__label field__label" for="ContactForm-body">Comments / Questions</label>
      </div>
      <div class="contact__button">
        <button type="submit" class="button">
          {{ 'templates.contact.form.send' | t }}
        </button>
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Corporate Order Form",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Corporate Order Form"
    }
  ]
}
{% endschema %}
