{{ 'grid.min.css' | asset_url | stylesheet_tag }}
{{ 'component-buttons.min.css' | asset_url | stylesheet_tag }}
{{ 'section-donate-now.min.css' | asset_url | stylesheet_tag }}

<div class="donate-now-section grid">
   <div class="donate-now__text
      grid__item
      small--ten-twelfths
      small--push-one-twelfth
      medium-up--five-twelfths 
      medium-up--push-three-twelfths">
      {{ section.settings.desc }}
   </div>
   <div class="grid__item
      small--ten-twelfths
      small--push-one-twelfth
      medium-up--two-twelfths
      medium-up--push-three-twelfths">
      <a class="primary-btn btn--wide" href="{{ section.settings.btn_link }}">{{ section.settings.btn_text }}</a>
   </div>
</div>

{% schema %}
   {
      "name": "Donate now",
      "settings": [
         {
            "id": "desc",
            "type": "richtext",
            "label": "Description"
         },
         {
            "id": "btn_text",
            "type": "text",
            "label": "Button text",
            "default": "Donate now"
         },
         {
            "id": "btn_link",
            "type": "url",
            "label": "Button link"
         }
      ],
      "presets": [
         {
            "name": "Donate now"
         }
      ]
   }
{% endschema %}