{{ 'component-buttons.min.css' | asset_url | stylesheet_tag }}
{{ 'section-donate-now.min.css' | asset_url | stylesheet_tag }}

<section class="donate-now-section background-teal">
   <h2 class="donate-now__subheading">{{ section.settings.subheading }}</h2>
   <h1 class="donate-now__heading">{{ section.settings.heading }}</h1>
   <div class="donate-now__desc">{{ section.settings.desc }}</div>
   <a class="primary-btn" href="{{ section.settings.btn_link }}">
      {{ section.settings.btn_text }}
   </a>
</section>

<style>
   .donate-now-section {
      background-image: url({{ 'dots-background-landing-page.svg' | asset_url }});
   }
</style>

{% schema %}
   {
      "name": "Donate now",
      "settings": [
         {
            "id": "heading",
            "type": "richtext",
            "label": "Heading",
            "default": "<p>For just the cost of a bottleof water, you can make a difference.</p>"
         },
         {
            "id": "subheading",
            "type": "text",
            "label": "Subheading",
            "default": "Water wells for africa"
         },
         {
            "id": "desc",
            "type": "richtext",
            "label": "Description"
         },
         {
            "id": "btn_text",
            "type": "text",
            "label": "Button text",
            "default": "Donate now"
         },
         {
            "id": "btn_link",
            "type": "url",
            "label": "Button link"
         }
      ],
      "presets": [
         {
            "name": "Donate now"
         }
      ]
   }
{% endschema %}