{{ 'component-buttons.min.css' | asset_url | stylesheet_tag }}
{{ 'section-donate-now.min.css' | asset_url | stylesheet_tag }}

<section class="donate-now-section background-teal">
   {% if section.settings.subheading %}
      <h3 class="donate-now__subheading">{{ section.settings.subheading }}</h3>
   {% endif %}

   {% if section.settings.heading %}
      <h2 class="donate-now__heading">{{ section.settings.heading }}</h2>
   {% endif %}

   {% if section.settings.desc %}
      <div class="donate-now__desc">{{ section.settings.desc }}</div>  
   {% endif %}

   {% if section.settings.btn_text %}
      <a class="primary-btn" href="{{ section.settings.btn_link }}">
         {{ section.settings.btn_text }}
      </a>
   {% endif %}
</section>

<style>
   .donate-now-section {
      background-image: url({{ 'dots-background-water-wells.svg' | asset_url }});
   }
   @media (max-width: 989px) {
      .donate-now-section {
         background-image: url({{ 'dots-background-water-wells-mobile.svg' | asset_url }});
      }
   }
</style>

{% schema %}
   {
      "name": "Donate now",
      "settings": [
         {
            "id": "heading",
            "type": "richtext",
            "label": "Heading",
            "default": "<p>For just the cost of a bottleof water, you can make a difference.</p>"
         },
         {
            "id": "subheading",
            "type": "text",
            "label": "Subheading",
            "default": "Water wells for africa"
         },
         {
            "id": "desc",
            "type": "richtext",
            "label": "Description"
         },
         {
            "id": "btn_text",
            "type": "text",
            "label": "Button text",
            "default": "Donate now"
         },
         {
            "id": "btn_link",
            "type": "url",
            "label": "Button link"
         }
      ],
      "presets": [
         {
            "name": "Donate now"
         }
      ]
   }
{% endschema %}