{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

{%- assign product = section.settings.product -%}

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<section class="section-featured-product">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="featured-product product">
      <div class="grid__item product__media-wrapper">
        <media-gallery id="MediaGallery-{{ section.id }}" role="region" aria-label="{{ 'products.product.media.gallery_viewer' | t }}" data-desktop-layout="stacked">
          <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
            {{ "accessibility.skip_to_product_info" | t }}
          </a>
          <div id="GalleryViewer-{{ section.id }}" class="product__media-list">
            {%- if product.selected_or_first_available_variant.featured_media != null -%}
              {%- assign media = product.selected_or_first_available_variant.featured_media -%}
              <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
                {% render 'product-thumbnail', media: media, position: 'featured', loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: false, media_width: 0.5, classImage: 'js-feature-image' %}
              </div>
            {%- endif -%}
            {%- liquid
              assign media_to_render = product.featured_media.id
              for variant in product.variants
                assign media_to_render = media_to_render | append: variant.featured_media.id | append: ' '
              endfor
            -%}
            {%- for media in product.media -%}
              {%- if media_to_render contains media.id and media.id != product.selected_or_first_available_variant.featured_media.id -%}
                <div class="product__media-item" data-media-id="{{ section.id }}-{{ media.id }}">
                  {% render 'product-thumbnail', media: media, position: forloop.index, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: false, media_width: 0.5 %}
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
          {%- if first_3d_model -%}
            <button
              class="button button--full-width product__xr-button"
              type="button"
              aria-label="{{ 'products.product.xr_button_label' | t }}"
              data-shopify-xr
              data-shopify-model3d-id="{{ first_3d_model.id }}"
              data-shopify-title="{{ product.title | escape }}"
              data-shopify-xr-hidden
            >
              {% render 'icon-3d-model' %}
              {{ 'products.product.xr_button' | t }}
            </button>
          {%- endif -%}
        </media-gallery>
      </div>
      <div class="product__info-wrapper grid__item">
        <div id="ProductInfo-{{ section.id }}" class="product__info-container">
          {% if section.settings.sub_title %}
            <div class="product__sub-title"> {{ section.settings.sub_title }} </div>
          {% endif %}
          {%- assign product_form_id = 'product-form-' | append: section.id -%}
          <h2 class="product__title">
            {%- if product.title != blank -%}
              {{ product.title | escape }}
            {%- else -%}
              {{ 'onboarding.product_title' | t }}
            {%- endif -%}
          </h2>
          <div class="no-js-hidden product-price" id="price-{{ section.id }}" role="status">
            {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
          </div>
          {% if section.settings.desc != blank %}
            <div class="featured-product__desc">
              {{ section.settings.desc }}
            </div>
          {% endif %}
          {%- if product != blank -%}
            <div>
              {%- form 'product', product -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                {{ form | payment_terms }}
              {%- endform -%}
            </div>
          {%- endif -%}

        {%- unless product.has_only_default_variant -%}
{% comment %}
            <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" data-update-url="false">
              {%- for option in product.options_with_values -%}
                  <fieldset class="js product-form__input">
                    <legend class="form__label">{{ option.name }}</legend>
                    {%- for value in option.values -%}
                      <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                            name="{{ option.name }}"
                            value="{{ value | escape }}"
                            form="{{ product_form_id }}"
                            {% if option.selected_value == value %}checked{% endif %}
                      >
                      <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                        {{ value }}
                      </label>
                    {%- endfor -%}
                  </fieldset>
              {%- endfor -%}
              <script type="application/json">
                {{ product.variants | json }}
              </script>
            </variant-radios>
{% endcomment %}
            <variant-selects class="no-js-hidden product-formv-varaint" data-section="{{ section.id }}" data-url="{{ product.url }}" data-update-url="false">
              {%- for option in product.options_with_values -%}
                <div class="product-form__input product-form__input--dropdown{% if forloop.last %} product-form__input--last{% endif %}">
                  <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <div class="select">
                    <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                      class="select__select"
                      name="options[{{ option.name | escape }}]"
                      form="{{ product_form_id }}"
                    >
                      {%- for value in option.values -%}
                        <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                        </option>
                      {%- endfor -%}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                </div>
              {%- endfor -%}
              <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
                <label class="form__label" for="Quantity-{{ section.id }}">
                  {{ 'products.product.quantity.label' | t }}
                </label>
                <div class="select">
                  <select id="Option-{{ section.id }}"
                    class="select__select"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    form="{{ product_form_id }}"
                  >
                    {%- for i in (1..10) -%}
                      <option> {{ i }} </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
              <script type="application/json">
                {{ product.variants | json }}
              </script>
            </variant-selects>
          {%- endunless -%}
          <noscript class="product-form__noscript-wrapper-{{ section.id }}">
            <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
              <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
              <div class="select">
                <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                  {%- for variant in product.variants -%}
                    <option
                      {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                      {% if variant.available == false %}disabled{% endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                      {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                      - {{ variant.price | money | strip_html }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          </noscript>
          <div class="product-form__action">
            {%- if product != blank -%}
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons">
                    <button
                      data-add-to-cart
                      type="submit"
                      name="add"
                      class="product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    >
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>
            {%- else -%}
              <div class="product-form">
                <div class="product-form__buttons form">
                  <button
                    type="submit"
                    name="add"
                    class="product-form__submit button button--full-width button--primary"
                    disabled
                  >
                    {{ 'products.product.sold_out' | t }}
                  </button>
                </div>
              </div>
            {%- endif -%}
            <a {% if product == blank %} role="link" aria-disabled="true"{% else %} href="{{ product.url }}"{% endif %} class="link product__view-details animate-arrow">
              More details
            </a>
          </div>
        </div>
      </div>
    </div>
    {% if section.settings.show_best_seller %}
      <div class="featured-product__best-seller">
        <svg width="171" height="170" viewBox="0 0 171 170" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M76.2842 165.422C73.7937 166.937 70.8169 167.44 67.9668 166.826C65.1168 166.213 62.6105 164.529 60.9646 162.123H60.6484C59.2512 159.251 56.8848 156.964 53.9663 155.666C51.0479 154.368 47.7649 154.142 44.6962 155.028V154.712C41.8272 155.102 38.9173 154.384 36.5584 152.705C34.1995 151.026 32.5687 148.512 31.9977 145.674H31.7264C31.6176 142.479 30.3836 139.425 28.242 137.052C26.1004 134.679 23.189 133.139 20.0221 132.704V132.388C17.2312 131.555 14.8636 129.688 13.4023 127.168C11.941 124.649 11.4963 121.667 12.159 118.83H11.8879C13.081 115.87 13.1913 112.583 12.1993 109.55C11.2073 106.516 9.17662 103.929 6.46499 102.246V101.974C4.25539 100.064 2.85708 97.3838 2.55482 94.4787C2.25256 91.5737 3.06915 88.6626 4.8382 86.3386H4.61217C6.90778 84.1215 8.3478 81.1657 8.67845 77.9914C9.0091 74.8172 8.2093 71.628 6.41989 68.9855H6.69102C5.45372 66.3432 5.26472 63.3301 6.16214 60.5539C7.05956 57.7778 8.97661 55.4454 11.5264 54.0274V53.7563C14.5318 52.6663 17.0552 50.5493 18.6511 47.7792C20.247 45.0091 20.8127 41.7642 20.2481 38.6175H20.5645C20.4961 35.6992 21.5422 32.8645 23.4899 30.6902C25.4375 28.5159 28.1404 27.1652 31.0486 26.9132V26.6421C34.2345 26.8278 37.3863 25.9021 39.9658 24.0231C42.5454 22.144 44.3929 19.4281 45.1932 16.3387H45.4643C46.5994 13.6476 48.7177 11.4905 51.3877 10.3067C54.0576 9.12284 57.0784 9.00129 59.8348 9.96681V9.69568C62.6567 11.1973 65.9185 11.6535 69.044 10.9837C72.1696 10.3139 74.958 8.56127 76.9168 6.03523C79.0456 4.03343 81.8578 2.91895 84.78 2.91895C87.7022 2.91895 90.5143 4.03343 92.6431 6.03523H92.8691C94.8279 8.56127 97.6163 10.3139 100.742 10.9837C103.867 11.6535 107.129 11.1973 109.951 9.69568V9.96681C112.701 9.00329 115.715 9.12624 118.378 10.3105C121.04 11.4948 123.15 13.651 124.276 16.3387H124.547C125.348 19.4281 127.195 22.144 129.775 24.0231C132.355 25.9021 135.506 26.8278 138.692 26.6421V26.9132C141.608 26.9806 144.388 28.1598 146.463 30.2096C148.538 32.2594 149.751 35.0248 149.854 37.9397H150.171C149.606 41.0864 150.172 44.3313 151.768 47.1014C153.363 49.8715 155.887 51.9885 158.892 53.0785V53.3496C161.45 54.7597 163.374 57.0918 164.272 59.8709C165.171 62.6501 164.976 65.6671 163.728 68.3076H163.999C162.209 70.9502 161.41 74.1393 161.74 77.3136C162.071 80.4878 163.511 83.4437 165.806 85.6607V85.6607C167.57 87.9902 168.379 90.9047 168.068 93.81C167.758 96.7153 166.351 99.3927 164.134 101.297V101.568C161.423 103.252 159.392 105.838 158.4 108.872C157.408 111.906 157.518 115.192 158.711 118.153H158.44C159.103 120.989 158.658 123.971 157.197 126.49C155.736 129.01 153.368 130.877 150.577 131.71V132.026C147.419 132.471 144.518 134.015 142.385 136.387C140.253 138.76 139.025 141.808 138.918 144.996H138.602C138.031 147.834 136.4 150.349 134.041 152.028C131.682 153.706 128.772 154.424 125.903 154.034V154.35C122.835 153.464 119.552 153.69 116.633 154.988C113.715 156.286 111.348 158.573 109.951 161.445H109.68C108.019 163.846 105.505 165.523 102.651 166.136C99.7961 166.749 96.8154 166.251 94.3151 164.744H94.0892C91.6465 162.691 88.5581 161.566 85.3675 161.566C82.1769 161.566 79.0884 162.691 76.6457 164.744L76.2842 165.422Z" fill="#4AC4D9" stroke="#262626" stroke-width="4" stroke-linejoin="round"/>
          <path d="M85.6984 143.685C117.769 143.685 143.768 117.666 143.768 85.5704C143.768 53.4745 117.769 27.4556 85.6984 27.4556C53.6275 27.4556 27.6289 53.4745 27.6289 85.5704C27.6289 117.666 53.6275 143.685 85.6984 143.685Z" fill="#BBE2DD" stroke="#262626" stroke-width="4" stroke-linejoin="round"/>
          <path d="M86.2865 132.071C111.943 132.071 132.742 111.252 132.742 85.5702C132.742 59.8885 111.943 39.0693 86.2865 39.0693C60.6297 39.0693 39.8308 59.8885 39.8308 85.5702C39.8308 111.252 60.6297 132.071 86.2865 132.071Z" fill="white"/>
          <path d="M61.9216 69.5076H63.4247V78.7804H61.9216V81.0059H67.8171C70.9406 81.0059 73.3027 79.5613 73.3027 77.1211C73.3027 75.6569 72.4243 74.5442 70.5307 73.9976C72.0729 73.451 72.9318 72.3968 72.9318 70.9132C72.9318 68.7462 71.3506 67.2821 67.8171 67.2821H61.9216V69.5076ZM67.3486 74.9737C69.8279 74.9541 70.6868 75.9302 70.6868 76.8673C70.6868 77.8824 69.984 78.7804 67.9343 78.7804H65.8454V74.9737H67.3486ZM67.9343 69.5076C69.7107 69.5076 70.4135 70.2689 70.4135 71.206C70.4135 72.2406 69.5546 73.2558 67.5829 73.2362H65.8454V69.5076H67.9343Z" fill="#147293"/>
          <path d="M85.6148 71.0303V67.2821H75.1902V69.5076H76.6934V78.7804H75.1902V81.0059H85.6148V77.2577H83.5455V78.7804H79.1141V75.5008H82.4328V73.3534H79.1141V69.5076H83.5455V71.0303H85.6148Z" fill="#147293"/>
          <path d="M87.4244 76.7111L87.4439 81.0059H89.6304L89.4547 79.8736C89.4547 79.8736 90.1184 81.2401 92.7929 81.2401C95.1745 81.2401 97.0291 79.737 97.0291 77.2968C97.0291 75.5008 96.1506 74.3099 93.0857 73.0996C91.1531 72.3382 90.4112 71.7331 90.4112 70.7765C90.4112 69.9371 90.9578 69.2148 92.3244 69.2148C93.4176 69.2148 94.3351 69.5271 94.4327 70.6789V71.3231H96.6191L96.5996 67.2821H94.4132L94.5889 68.1606C94.5303 68.063 93.9642 67.0479 92.1877 67.0479C89.4937 67.0479 87.971 68.8829 87.971 70.8351C87.971 72.553 88.8885 73.9 91.563 74.9151C94.0423 75.8326 94.5498 76.3792 94.5498 77.2968C94.5498 78.1752 93.8471 78.9756 92.2853 78.9756C91.0164 78.9756 89.6108 78.5266 89.6108 76.9649V76.7111H87.4244Z" fill="#147293"/>
          <path d="M101.306 81.0059H106.733V78.7804H105.23V69.5076H107.67V71.0303H109.74V67.2821H98.2024V71.0303H100.272V69.5076H102.79V78.7804H101.306V81.0059Z" fill="#147293"/>
          <path d="M49.5916 96.2328L49.6111 100.528H51.7975L51.6218 99.3953C51.6218 99.3953 52.2855 100.762 54.96 100.762C57.3417 100.762 59.1962 99.2587 59.1962 96.8185C59.1962 95.0225 58.3178 93.8316 55.2529 92.6213C53.3202 91.86 52.5784 91.2548 52.5784 90.2982C52.5784 89.4588 53.125 88.7365 54.4915 88.7365C55.5847 88.7365 56.5022 89.0488 56.5998 90.2006V90.8448H58.7863L58.7668 86.8038H56.5803L56.756 87.6823C56.6975 87.5847 56.1313 86.5696 54.3549 86.5696C51.6609 86.5696 50.1382 88.4046 50.1382 90.3568C50.1382 92.0747 51.0557 93.4217 53.7302 94.4368C56.2094 95.3543 56.717 95.9009 56.717 96.8185C56.717 97.6969 56.0142 98.4973 54.4525 98.4973C53.1835 98.4973 51.778 98.0483 51.778 96.4866V96.2328H49.5916Z" fill="#147293"/>
          <path d="M71.5359 90.552V86.8038H61.1113V89.0293H62.6145V98.3021H61.1113V100.528H71.5359V96.7794H69.4666V98.3021H65.0352V95.0225H68.3539V92.8751H65.0352V89.0293H69.4666V90.552H71.5359Z" fill="#147293"/>
          <path d="M83.9849 100.528V96.7794H81.9155V98.3021H77.4841V89.0293H79.5729V86.8038H73.5603V89.0293H75.0634V98.3021H73.5603V100.528H83.9849Z" fill="#147293"/>
          <path d="M95.7093 100.528V96.7794H93.64V98.3021H89.2086V89.0293H91.2974V86.8038H85.2847V89.0293H86.7879V98.3021H85.2847V100.528H95.7093Z" fill="#147293"/>
          <path d="M107.434 90.552V86.8038H97.0092V89.0293H98.5124V98.3021H97.0092V100.528H107.434V96.7794H105.364V98.3021H100.933V95.0225H104.252V92.8751H100.933V89.0293H105.364V90.552H107.434Z" fill="#147293"/>
          <path d="M109.458 89.0293H110.961V98.3021H109.458V100.528H114.866V98.3021H113.382V96.5452H114.885C115.139 96.5452 115.393 96.5452 115.627 96.5256L118.555 100.528H121.444V98.3021H119.687L118.067 96.1547C119.824 95.4715 120.839 93.8121 120.839 91.6843C120.839 88.8146 119.004 86.8038 115.354 86.8038H109.458V89.0293ZM115.178 89.0293C117.462 89.0293 118.223 90.1811 118.223 91.6843C118.223 93.1874 117.442 94.3978 115.178 94.3978H113.382V89.0293H115.178Z" fill="#147293"/>
          </svg>
      </div>
    {% endif %}
    <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
      <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
        <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

        <div class="product-media-modal__content color-background-1 gradient" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
          {%- liquid
            if product.selected_or_first_available_variant.featured_media != null
              assign media = product.selected_or_first_available_variant.featured_media
              render 'product-media', media: media, loop: section.settings.enable_video_looping
            endif
          -%}
        </div>
      </div>
    </product-modal>
  </div>
</section>

{% javascript %}
  if (!customElements.get('product-modal')) {
    customElements.define('product-modal', class ProductModal extends ModalDialog {
      constructor() {
        super();
      }

      hide() {
        super.hide();
      }

      show(opener) {
        super.show(opener);
        this.showActiveMedia();
      }

      showActiveMedia() {
        this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
            element.classList.remove('active');
          }
        )
        const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
        const activeMediaTemplate = activeMedia.querySelector('template');
        const activeMediaContent = activeMediaTemplate ? activeMediaTemplate.content : null;
        activeMedia.classList.add('active');
        activeMedia.scrollIntoView();

        const container = this.querySelector('[role="document"]');
        container.scrollLeft = (activeMedia.width - container.clientWidth) / 2;

        if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMediaContent && activeMediaContent.querySelector('.js-youtube'))
          activeMedia.loadContent();
      }
    });
  }
{% endjavascript %}
<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>
  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{% if product.media.size > 0 %}
  <script src="{{ 'media-gallery.js' | asset_url }}" defer="defer"></script>
{% endif %}

{% schema %}
{
  "name": "t:sections.featured-product.name",
  "tag": "section",
  "class": "section section-featured-product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub title",
      "default": "looking for a gift?"
    },
    {
      "type": "textarea",
      "id": "desc",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "show_best_seller",
      "label": "Show icon Best seller",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.presets.name"
    }
  ]
}
{% endschema %}
