{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}

<script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
      padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  .featured-collection{
    background: {{ section.settings.color_scheme }};
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}
<div class="p-relative {% if section.settings.svg_bg_top != blank %}has-image-background-top{% endif %} {% if section.settings.svg_bg_top != blank %}has-image-background-bottom{% endif %}">
  {% if section.settings.svg_bg_top != blank %}
  <div class="img-bg-top" >
    {{ section.settings.svg_bg_top }}
    </div>
  {% endif %}

  <div class="featured-collection">
    <div class="page-width{% if show_mobile_slider %} page-width-mb {% else %} not-show-slide-mb{% endif %} section-{{ section.id }}-padding">
      {%- unless section.settings.title == blank -%}
        <div class="title-wrapper-with-link{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %} title-wrapper--no-top-margin">
          <h2 class="title h1 text-center">{{ section.settings.title | escape }}</h2>
        </div>
      {%- endunless -%}
  
      {%- paginate section.settings.collection.products by 50 -%}
      <div aria-owns="collection-list-item" class="collection-product__inner {{ grid_item_width }}" id="collection-products" role="list">
        {%- for product in section.settings.collection.products -%}
          {% if product.variants[0].available %}
            {% render 'include--product-card-single', product: product %}
          {% endif %}
        {%- endfor -%}
      </div>
      {%- if paginate.pages > 1 -%}
        <div class="product-paginate" data-paginate>
          {% unless paginate.next.is_link %}
          <!-- <button class="btn no-product" type="button">
            No products
          </button> -->
          {% else %}
            <a href="{{ section.settings.collection.url }}?view=party-favor-items&page=2" class="js-infinite-scroll" aria-label="{{ section.settings.collection.title | escape }}">
              <span class="loader"></span>
            </a>
          {% endunless %}
        </div>
      {%- endif -%}
      {%- endpaginate -%}      
    </div>
  </div>
  {% if section.settings.svg_bg_top != blank %}
  <div class="img-bg-bottom">
    {{ section.settings.svg_bg_bottom }}
  {% endif %}

</div>
<style>
  .img-bg-bottom svg,
  .img-bg-top svg {
    width: 100%;
    height: auto;
  }

  .img-bg-top {
    position: relative;
    bottom: -7px;
  }
</style>
<script>
    window.addEventListener('load', (event) => {
        var isBusy = false;
        $(window).scroll(function() {
          if( $(window).scrollTop() + $(window).height() > $(document).height() * 0.9 ){
            var btnLoadMore = $('.js-infinite-scroll');
            let url = btnLoadMore.attr('href');   
            
            if(isBusy) {
              return;
            }
            if(btnLoadMore.length) {
              isBusy = true;
              $('[data-btn-text]').hide();
              btnLoadMore.show();
              var listData = $('#collection-products');
              var product;
              console.log(url);
              $.get(url).done(function (data) {
                btnLoadMore.hide();
                product = $(data);
                listData.append(product.children());
                $('[data-paginate]').replaceWith(product.find('[data-paginate]'));
                initQuickAdd();
                isBusy = false;
              });
            }
          }
        });
      });
</script>
{% schema %}
{
  "name": "Ajax Featured Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "color",
      "id": "color_scheme",
      "default": "#f1f3f3",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
        "type": "textarea",
        "id": "svg_bg_top",
        "label": "Background SVG Top",
        "default": "<svg width='1440' height='222' viewBox='0 0 1440 222' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M1.94078e-05 222H1440V61.3982C1199.94 167.978 959.885 114.727 719.827 61.475C479.885 8.24888 239.942 -44.9773 5.36761e-06 61.3983L1.94078e-05 222Z' fill='#F1F3F3'/> </svg>"
    },
    {
        "type": "textarea",
        "id": "svg_bg_bottom",
        "label": "Background SVG Bottom",
        "default": "<svg width='1440' height='222' viewBox='0 0 1440 222' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M1440 -6.3635e-05L2.47755e-05 -0.000189524L1.07352e-05 160.602C240.058 54.0214 480.115 107.273 720.173 160.525C960.115 213.751 1200.06 266.977 1440 160.602L1440 -6.3635e-05Z' fill='#F1F3F3'/> </svg>"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100 ,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
     {
      "type": "range",
      "id": "padding_top_mb",
      "min": 30,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "padding top for mobile",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 30,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding bottom for mobile",
      "default": 130
    }
  ],
  "presets": [
    {
      "name": "Ajax Featured Collection"
    }
  ]
}
{% endschema %}