{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mb }}px;
      padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  .featured-collection{
    background: {{ section.settings.color_scheme }};
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}
<div class="p-relative {% if section.settings.svg_bg_top != blank %}has-image-background-top{% endif %} {% if section.settings.svg_bg_top != blank %}has-image-background-bottom{% endif %}">
  {% if section.settings.svg_bg_top != blank %}
  <div class="img-bg-top" >
    {{ section.settings.svg_bg_top }}
    </div>
  {% endif %}

  <div class="featured-collection">
    <div class="page-width{% if show_mobile_slider %} page-width-mb {% else %} not-show-slide-mb{% endif %} section-{{ section.id }}-padding">
      {%- unless section.settings.title == blank -%}
        <div class="title-wrapper-with-link{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %} title-wrapper--no-top-margin">
          <h2 class="title h1 text-center">{{ section.settings.title | escape }}</h2>

          {%- if section.settings.show_view_all and section.settings.swipe_on_mobile and more_in_collection -%}
            <a href="{{ section.settings.collection.url }}" class="link underlined-link h5 large-up-hide">{{ 'sections.featured_collection.view_all' | t }}</a>
          {%- endif -%}
        </div>
      {%- endunless -%}

      <slider-component class="slider-mobile-gutter">
        <div id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop {% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}" role="list">
          {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
            <div id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider %} slider__slide{% endif %}" role="listitem">
              {% render 'include--product-card', product: product %}
            </div>
          {%- endfor -%}
        </div>
        {%- if show_mobile_slider -%}
          <div class="slider-buttons no-js-hidden">
            <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
            <div class="slider-counter caption">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ products_to_display }}</span>
            </div>
            <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
          </div>
        {%- endif -%}
      </slider-component>

      {%- if section.settings.show_view_all and more_in_collection -%}
        <div class="center collection__view-all{% if section.settings.swipe_on_mobile %} small-hide medium-hide{% endif %}">
          <a href="{{ section.settings.collection.url }}"
            class="button"
            aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
          >
            {{ 'sections.featured_collection.view_all' | t }}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
  {% if section.settings.svg_bg_top != blank %}
  <div class="img-bg-bottom">
    {{ section.settings.svg_bg_bottom }}
  {% endif %}

</div>
<style>
  .img-bg-bottom svg,
  .img-bg-top svg {
    width: 100%;
    height: auto;
  }

  .img-bg-top {
    position: relative;
    bottom: -7px;
  }
</style>
{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "color",
      "id": "color_scheme",
      "default": "#f1f3f3",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
        "type": "textarea",
        "id": "svg_bg_top",
        "label": "Background SVG Top",
        "default": "<svg width='1440' height='222' viewBox='0 0 1440 222' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M1.94078e-05 222H1440V61.3982C1199.94 167.978 959.885 114.727 719.827 61.475C479.885 8.24888 239.942 -44.9773 5.36761e-06 61.3983L1.94078e-05 222Z' fill='#F1F3F3'/> </svg>"
    },
    {
        "type": "textarea",
        "id": "svg_bg_bottom",
        "label": "Background SVG Bottom",
        "default": "<svg width='1440' height='222' viewBox='0 0 1440 222' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M1440 -6.3635e-05L2.47755e-05 -0.000189524L1.07352e-05 160.602C240.058 54.0214 480.115 107.273 720.173 160.525C960.115 213.751 1200.06 266.977 1440 160.602L1440 -6.3635e-05Z' fill='#F1F3F3'/> </svg>"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100 ,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 40
    },
     {
      "type": "range",
      "id": "padding_top_mb",
      "min": 30,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "padding top for mobile",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom_mb",
      "min": 30,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "Padding bottom for mobile",
      "default": 130
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}