{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
{{ 'component-header.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }
  .stop-anim-btn {
    display: none;
    position: absolute;
    width: 50px;
    right: 0px;
    top: 1px;
  }
  #Search-In-Modal-1::placeholder {
    color: transparent;
  }
  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<style>
  #Search-In-Modal-1:focus::placeholder {
    color: transparent;
  }
  @media (max-width: 749px) {
    .stop-anim-btn {
      width: 40px;
    }
  }
</style>
<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" width="15" height="19" viewBox="0 0 15 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.0267 16.9969L10.8917 12.1544C12.2113 11.0583 13.0735 9.48866 13.3028 7.76479C13.5322 6.04092 13.1115 4.29234 12.1262 2.87483C11.141 1.45731 9.66536 0.477369 7.99947 0.134337C6.33359 -0.208695 4.60262 0.110881 3.15878 1.02822C1.71494 1.94556 0.666675 3.39174 0.227275 5.07236C-0.212126 6.75297 -0.00964468 8.54192 0.793502 10.0751C1.59665 11.6083 2.94014 12.7705 4.55062 13.3254C6.1611 13.8804 7.91758 13.7864 9.4627 13.0624L12.6251 17.948C12.7483 18.1383 12.9403 18.2708 13.1589 18.3162C13.3774 18.3615 13.6046 18.316 13.7905 18.1899C13.9763 18.0637 14.1056 17.8671 14.1499 17.6434C14.1942 17.4196 14.1499 17.1871 14.0267 16.9969ZM1.93477 6.83482C1.93477 5.8731 2.21332 4.93299 2.73516 4.13336C3.25701 3.33373 3.99874 2.71049 4.86654 2.34246C5.73434 1.97443 6.68921 1.87806 7.61046 2.06569C8.53171 2.25331 9.37796 2.71637 10.0421 3.3964C10.7063 4.07644 11.1587 4.94298 11.3419 5.88621C11.5251 6.82944 11.4311 7.80704 11.0716 8.69555C10.7122 9.58405 10.1035 10.3435 9.32246 10.8778C8.54146 11.4121 7.62326 11.6973 6.68396 11.6973C5.42484 11.6958 4.21773 11.183 3.3274 10.2715C2.43707 9.35989 1.93622 8.12397 1.93477 6.83482Z" fill="white"/>
  </symbol>
    

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>
<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header {% if section.settings.menu != blank %} header--has-menu{% endif %}">
    <div class="header-middle page-width">
      {%- if section.settings.menu != blank -%}
        <header-drawer data-breakpoint="tablet">
          <details id="Details-menu-drawer-container" class="menu-drawer-container">
            <summary class="header__icon header__icon--menu header__icon--summary link" aria-label="{{ 'sections.header.menu' | t }}">
              <div class="header-icon__line">
                <span class="header-icon__line-item"></span>
              </div>
            </summary>
            <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
              <div class="menu-drawer__inner-container">
                <div class="menu-drawer__navigation-container">
                  <nav class="menu-drawer__navigation">
                    <ul class="menu-drawer__menu list-menu" role="list">
                      {%- for link in section.settings.menu.links -%}
                        {%- liquid
                          assign has_mega_menu = false
                          assign link_handle = link.title | handleize
                          assign type_menu = 'default'
                          if link.links != blank
                            assign has_mega_menu = true
                            assign type_menu = 'megamenu'
                          endif
                        -%}
                        <li {% if type_menu == 'megamenu' %} aria-expanded="false" {% endif %} class="index-{{ forloop.index }} {% if type_menu == 'megamenu' %} item-has-megamenu {% endif %}">
                          {%- if link.links != blank -%}
                            <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                              <summary class="menu-drawer__menu-item list-menu__item link link--text {% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                                <a href="{{ link.url }}" class="list-menu__item link link--text {% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                  {{ link.title | escape }}
                                </a>                                {% render 'icon-angle-right' %}
                                {% render 'icon-caret' %}
                              </summary>
                              <div id="link-{{ link.title | escape }}" class="menu-drawer__submenu gradient motion-reduce" tabindex="-1">
                                <div class="menu-drawer__inner-submenu">
                                  <button class="menu-drawer__close-button link link--text" aria-expanded="true">
                                    {% render 'icon-angle-right' %}
                                    {{ link.title | escape }}
                                  </button>
                                  {%- if has_mega_menu == true -%}
                                    <div class="megamenu">
                                      {% render 'mega-menu-mobile' with links: link.links, datas: datas, index: forloop.index %}
                                    </div>
                                  {% else %}
                                    <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                      {%- for childlink in link.links -%}
                                        <li>
                                          {%- if childlink.links == blank -%}
                                            <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item {% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                              {{ childlink.title | escape }}
                                            </a>
                                          {%- else -%}
                                            <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                              <summary class="menu-drawer__menu-item link link--text list-menu__item">
                                                {{ childlink.title | escape }}
                                                {% render 'icon-angle-right' %}
                                                {% render 'icon-caret' %}
                                              </summary>
                                              <div id="childlink-{{ childlink.title | escape }}" class="menu-drawer__submenu gradient motion-reduce">
                                                <button class="menu-drawer__close-button link link--text" aria-expanded="true">
                                                  {% render 'icon-angle-right' %}
                                                  {{ childlink.title | escape }}
                                                </button>
                                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                                  {%- for grandchildlink in childlink.links -%}
                                                    <li>
                                                      <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item {% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                        {{ grandchildlink.title | escape }}
                                                      </a>
                                                    </li>
                                                  {%- endfor -%}
                                                </ul>
                                              </div>
                                            </details>
                                          {%- endif -%}
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  {% endif %}
                                </div>
                              </div>
                            </details>
                          {%- else -%}
                            <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text {% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                              {{ link.title | escape }}
                            </a>
                          {%- endif -%}
                        </li>
                      {%- endfor -%}
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </details>
        </header-drawer>
      {%- endif -%}

      {%- if request.page_type == 'index' -%}
        <p class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header-logo header__heading-link link link--text">
              <img src="{{ 'logo.svg' | asset_url }}" loading="lazy"  width="{{ section.settings.logo_size }}" height="64"  alt="OldTimeCandy.com - Candy you ate as a kid." itemprop="logo">
          </a>
      {%- if request.page_type == 'index' -%}
        </p>
      {%- endif -%}

      <div class="header-search" role="combobox" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
        <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
          {% if settings.ss_enable %}
            <form action="/collections/{{ settings.ss_collection_handle }}" method="get" role="search" class="search search-modal__form">
              <div class="field">
                <input aria-label="Search for anything!" class="search__input field__input searchspring-ac"
                  id="Search-In-Modal-1"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.search' | t }}"
                >
                <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                  <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                    <use href="#icon-search" />
                  </svg>
                </button>
                <a href="#close" class="close-search" aria-label="Close search">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1970_54029)">
                    <line x1="1.49491" y1="1.00496" x2="15.4949" y2="15.005" stroke="#262626" stroke-width="1.4"/>
                    <line x1="1.47561" y1="15.0344" x2="15.4756" y2="1.03443" stroke="#262626" stroke-width="1.4"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1970_54029">
                    <rect width="16" height="15" fill="white" transform="translate(0 0.499985)"/>
                    </clipPath>
                    </defs>
                  </svg>
                </a>
              </div>
          {% else %}
            {%- if settings.predictive_search_enabled -%}
              <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
            {%- endif -%}
              <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                <div class="field">
                  <input aria-label="Search for anything!" class="search__input field__input"
                    id="Search-In-Modal-1"
                    type="search"
                    name="q"
                    value="{{ search.terms | escape }}"
                    placeholder="{{ 'general.search.search' | t }}"
                    {%- if settings.predictive_search_enabled -%}
                      role="combobox"
                      aria-expanded="false"
                      aria-owns="predictive-search-results-list"
                      aria-controls="predictive-search-results-list"
                      aria-haspopup="listbox"
                      aria-autocomplete="list"
                      autocorrect="off"
                      autocomplete="off"
                      autocapitalize="off"
                      spellcheck="false"
                    {%- endif -%}
                  >
                  <a href="javascript:;" class="stop-anim-btn">
                    <img src="{{'icon-pause.png'| asset_img_url :'master'}}" alt="Stop animation" class="lazyload">
                  </a>
                  <input type="hidden" name="options[prefix]" value="last">
                  <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                    <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-search">
                    </svg>
                  </button>
                  <div class="close-search">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g clip-path="url(#clip0_1970_54029)">
                      <line x1="1.49491" y1="1.00496" x2="15.4949" y2="15.005" stroke="#262626" stroke-width="1.4"/>
                      <line x1="1.47561" y1="15.0344" x2="15.4756" y2="1.03443" stroke="#262626" stroke-width="1.4"/>
                      </g>
                      <defs>
                      <clipPath id="clip0_1970_54029">
                      <rect width="16" height="15" fill="white" transform="translate(0 0.499985)"/>
                      </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>

                {%- if settings.predictive_search_enabled -%}
                  <div class="predictive-search predictive-search--header">
                    <div class="search-results__content">
                      <div class="search-results-suggested__inner" data-predictive-search>
                        <div class="predictive-search__loading-state">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                      </div>
                      <div class="search-results-suggested">
                        <h2 class="search-results-suggested__header">Suggested terms</h2>
                        <div tabindex="-1" class="search-results-suggested__content">
                          <ul class="search-results-suggested__list" data-suggested-list></ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                  <div class="predictive-search predictive-search--product" data-search-products>
                    {% assign suggested = settings.suggested | split: ',' %}
                    <div class="search-results__content">
                      <div class="search-results-suggested__product">
                        <h2 class="predictive-search__heading">Top products</h2>
                        <div class="predictive-search__container">
                          <div class="predictive-search__results-list col-3">
                            {%- assign collection = collections[settings.collection] -%}
                            {% for product in collection.products limit: 3 %}
                              {% render 'search--product-card', product: product %}
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                      <div class="search-results-suggested">
                        <h2 class="search-results-suggested__header">top search terms</h2>
                        <div tabindex="1" class="search-results-suggested__content">
                          <ul class="search-results-suggested__list">
                            {% for term in suggested %}
                              <li class="search-results-suggested__item">
                                <a class="search-results-suggested__link" href="/search?q={{ term }}"> {{ term }} </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                  <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                {%- endif -%}
              </form>
            {%- if settings.predictive_search_enabled -%}
              </predictive-search>
            {%- endif -%}
          {%- endif -%}
        </div>
      </div>

      <ul class="list-menu header__icons">
        {%- if shop.customer_accounts_enabled -%}
        <li>
          <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link">
            {% render 'icon-account' %}
            <span class="visually-hidden">
              {%- liquid
                if customer
                  echo 'customer.account_fallback' | t
                else
                  echo 'customer.log_in' | t
                endif
              -%}
            </span>
          </a>
        </li>
        {%- endif -%}
        <li>
        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link js-open-cart" id="cart-icon-bubble">
          {% render 'icon-bag', class: 'icon-bag-desktop' %}
          {% render 'icon-bag', class: 'icon-bag-mb' %}
          <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true" class="js-cart-count">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        </a>
        </li>
      </ul>
  </div>

  <div class="header-bottom">
    <div class="page-width">
      {%- if section.settings.menu != blank -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
            {%- liquid
                assign has_mega_menu = false
                assign link_handle = link.title | handleize
                assign type_menu = 'default'
                if link.links != blank
                   assign has_mega_menu = true
                   assign type_menu = 'megamenu'
                endif
            -%}
              <li {% if type_menu == 'megamenu' %} aria-expanded="false" {% endif %} class="index-{{ forloop.index }} {% if type_menu == 'megamenu' %} item-has-megamenu {% endif
              %}">
                {%- if link.links != blank -%}
                  {%- if has_mega_menu == true -%}
                    <div class="list-menu__item">
                      <a aria-label="{{ link.url | handleize }}" href="{{ link.url }}" class="item-parent header__menu-item link">
                        <span {% if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                      </a>
                    </div>
                    <div class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce megamenu" tabindex="-1">
                      {% render 'mega-menu' with links: link.links, datas: datas, index: forloop.index %}
                       <style>
                          @media(min-width: 992px){
                              .index-{{ forloop.index }} .megamenu .mega-menu-wrapper{
                                {% assign menu_width = link.links.size | times: 10 | plus: 2 %}
                                width: {{ menu_width }}%;

                              }
                              .index-{{ forloop.index }} .megamenu .mega-menu-image{
                                width: calc(100% - {{ menu_width }}%);
                              }
                          }
                      </style>
                    </div>
                  {% else %}
                    <header-menu>
                      <details id="Details-HeaderMenu-{{ forloop.index }}">
                        <summary class="item-parent header__menu-item list-menu__item link">
                          <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                          {% render 'icon-caret' %}
                        </summary>
                        <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                          {%- for childlink in link.links -%}
                            <li>
                              {%- if childlink.links == blank -%}
                                <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                  {{ childlink.title | escape }}
                                </a>
                              {%- else -%}
                                <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                  <summary class="header__menu-item link link--text list-menu__item caption-large">
                                    <span>{{ childlink.title | escape }}</span>
                                    {% render 'icon-caret' %}
                                  </summary>
                                  <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                    {%- for grandchildlink in childlink.links -%}
                                      <li>
                                        <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                          {{ grandchildlink.title | escape }}
                                        </a>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </details>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </details>
                    </header-menu>
                  {% endif %}
                {%- else -%}
                  <a aria-label="{{ link.url | handleize }}" href="{{ link.url }}" class="item-parent header__menu-item header__menu-item list-menu__item link link--text"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
    </div>
  </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}

<script defer src="{{ 'typewriter.js' | asset_url }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  let autotype_placeholder;
  let anim_flag=true;
  document.addEventListener("DOMContentLoaded", () => {
    let text = window.placeholder;
    console.log(text.split(','));
    autotype_placeholder = new TypeWriter('#Search-In-Modal-1', text.split(','),{
        writeDelay: 200,
        deleteDelay: 80
    });
    console.log(document.cookie);
    if(document.cookie.includes('hideanim=hide')) {
      $('body').append('<style>  #Search-In-Modal-1::placeholder {    color: transparent;  }</style>');
      $('.stop-anim-btn').css('display', 'none');
      anim_flag=false;
    }
    else {
      $('body').append('<style>  #Search-In-Modal-1::placeholder {    color: #0c5273;  }</style>');
      $('.stop-anim-btn').css('display', 'block');
    }
  });
  $('#Search-In-Modal-1').focus(function() {
    console.log('focus');
    $('.stop-anim-btn').css('display', 'none');
  });
  $('#Search-In-Modal-1').blur(function() {
    console.log('blur');
    if(anim_flag){
      $('.stop-anim-btn').css('display', 'block');

    }
  });
  $('.stop-anim-btn').click(function() {
    console.log('stop anim');
    setCookie("hideanim", "hide");
    console.log(getCookie("hideanim"));
    $('body').append('<style>  #Search-In-Modal-1::placeholder {    color: transparent;  }</style>');
    $('.stop-anim-btn').css('display', 'none');
    anim_flag = false;
  })
</script>
{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }


      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
    //  this.searchModal.close(false);
    }


  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}
{% style %}
  :root {
    --color-navigation-text: {{ section.settings.color_menu.red }}, {{ section.settings.color_menu.green }}, {{ section.settings.color_menu.blue }};
    --background-navigation: {{ section.settings.bg_menu.red }}, {{ section.settings.bg_menu.green }}, {{ section.settings.bg_menu.blue }};
  }
  @media (min-width:990px) {
    .header-bottom{
      background: rgba(var(--background-navigation), 1);
    }
    .header__menu-item.item-parent{
      color: rgba(var(--color-navigation-text), 1);
    }
  }

{% endstyle %}
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "range",
      "id": "logo_size",
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label",
      "min": 150,
      "max": 300,
      "step": 5,
      "default": 255
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "color",
      "id": "bg_menu",
      "default": "#0C5273",
      "label": "Navigation Background on Desktop"
    },
    {
      "type": "color",
      "id": "color_menu",
      "default": "#fff",
      "label": "Navigation Color on Desktop"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": false,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    }
  ],
  "blocks":[

  ]
}
{% endschema %}
