{{ 'section-icon-list.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.57 | round: 0 }}px;
  }
  .icon-card__image-wrapper {
    background: {{ section.settings.color_scheme }};
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .icon-list-style-{{ section.settings.columns_desktop }} .icon-list {
    max-width: 1000px;
  }
{%- endstyle -%}

<div class="icon-list-wrapper icon-list-style-{{ section.settings.columns_desktop }}">
  <div class="page-width section-{{ section.id }}-padding isolate">
    <div class="icon-list">
      <div class="swiper swiper-container">
        <div class="swiper-wrapper contains-content-container">
          {%- liquid
            assign highest_ratio = 0
            for block in section.blocks
              if block.settings.image.aspect_ratio > highest_ratio
                assign highest_ratio = block.settings.image.aspect_ratio
              endif
            endfor
          -%}
          {%- for block in section.blocks -%}
            <div class="swiper-slide icon-list__item {% if section.settings.column_alignment == 'center' %} center{% endif %}" {{ block.shopify_attributes }}>
              <div class="icon-card content-container">
                {%- if block.settings.image != blank -%}
                  <div class="icon-card__image-wrapper">
                    <div class="icon-card__media">
                      <img
                        class="icon-card__image"
                        srcset="{%- if block.settings.image.width >= 275 -%}{{ block.settings.image | image_url: width: 275 }} 275w,{%- endif -%}
                          {%- if block.settings.image.width >= 550 -%}{{ block.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
                          {%- if block.settings.image.width >= 710 -%}{{ block.settings.image | image_url: width: 710 }} 710w,{%- endif -%}
                          {%- if block.settings.image.width >= 1420 -%}{{ block.settings.image | image_url: width: 1420 }} 1420w,{%- endif -%}
                          {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                        src="{{ block.settings.image | image_url: width: 550 }}"
                        sizes="(min-width: 990px) {% if section.blocks.size <= 2 %}710px{% else %}550px{% endif %},
                          (min-width: 750px) {% if section.blocks.size == 1 %}710px{% else %}550px{% endif %},
                          calc(100vw - 30px)"
                        alt="{{ block.settings.image.alt }}"
                        height="{{ block.settings.image.height }}"
                        width="{{ block.settings.image.width }}"
                        loading="lazy"
                      >
                    </div>
                  </div>
                {% else %}
                    <div class="icon-card__image-wrapper">
                      <div class="icon-card__media placeholder">
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      </div>
                    </div>
                {%- endif -%}
                <div class="icon-card__info">
                  {%- if block.settings.title != blank -%}
                  {%- if block.settings.link != blank -%}
                    <a class="icon-card__title link animate-arrow" {% if block.settings.link == blank %}role="link" aria-disabled="true"{% else %} href="{{ block.settings.link }}"{% endif %}>
                      {{- block.settings.title | escape -}}
                    </a>
                  {% else -%}
                    <div class="icon-card__title">
                      {{- block.settings.title | escape -}}
                    </div>
                  {%- endif -%}
                  {%- endif %}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var Swipes = new Swiper('.icon-list-wrapper .swiper-container', {
            loop: true,
            slidesPerView: 2,
            centeredSlides: true,
            spaceBetween: 50,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            breakpoints: {
              990: {
                centeredSlides: false,
                spaceBetween: 30,
                loop: false,
                slidesPerView: `{{ section.settings.columns_desktop }}`,
                spaceBetween: 50,
              },
            }
        });
    });

</script>
{% schema %}
{
  "name": "Icon with text",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "center",
      "label": "Icon with text alignment"
    },
    {
      "type": "color",
      "id": "color_scheme",
      "default": "#E4F1F5",
      "label": "Icon Background"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0 
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 140
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image Icon"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.multicolumn.blocks.column.settings.link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon with text",
      "blocks": [
        {
          "type": "icon"
        },
        {
          "type": "icon"
        },
        {
          "type": "icon"
        }
      ]
    }
  ]
}
{% endschema %}
