{{ 'component-image-text-list.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.7 | round: 0 }}px;
    padding-bottom: 100px;
  }
  .image-text-list-wrap{
    background: {{ section.settings.color_bg }};
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="image-text-list">
  <div class="image-text-list-wrap">
    <div class="page-width section-{{ section.id }}-padding ">
      {% if section.settings.heading != blank %}
        <h2 class="heading-center h1">
            {{ section.settings.heading }}
        </h2>
      {% endif %}
      <div class="image-text-list__grid">
          <div  id="slider-list" class="swiper swiper-container">
            <div class="swiper-wrapper">
            {%- for block in section.blocks -%}
              <div class="swiper-slide">
                  <div class="image-text-list__item{% if block.settings.layout == 'text_first' %} image-text-list__item--reverse{% endif %} image-text-list__{{ block.settings.shade }}">
                    <div class="image-with-text__media {% if block.settings.image == blank %} placeholder{% endif %}">
                      {%- if block.settings.image != blank -%}
                        <img
                          srcset="{%- if block.settings.image.width >= 165 -%}{{ block.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
                            {%- if block.settings.image.width >= 360 -%}{{ block.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
                            {%- if block.settings.image.width >= 535 -%}{{ block.settings.image | image_url: width: 535 }} 535w,{%- endif -%}
                            {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | image_url: width: 750 }} 750w,{%- endif -%}
                            {{ block.settings.image | image_url }} {{ block.settings.image.width }}w"
                          src="{{ block.settings.image | image_url: width: 750 }}"
                          data-sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
                          alt="{{ block.settings.image.alt | escape }}"
                          loading="lazy"
                          width="auto"
                          height="auto"
                          class="image-text-list__img">
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                      {%- endif -%}
                    </div>
                    {% if block.settings.title != blank or block.settings.title != blank or block.settings.button_label != blank %}
                      <div class="image-with-text__content">
                        <div class="text--caption h5" {{ block.shopify_attributes }}>{{ block.settings.caption | escape }}</div>
                        <h2 class="text--heading h2" {{ block.shopify_attributes }}>
                          {{ block.settings.title | escape }}
                        </h2>
                        {%- if block.settings.button_label != blank -%}
                          <a aria-label="{{block.settings.title | escape}}" {% if block.settings.button_link == blank %} role="link" aria-disabled="true"{% else %} href="{{ block.settings.button_link }}"{% endif %} class="button button--primary" {{ block.shopify_attributes }}>
                            {{ block.settings.button_label | escape }}
                          </a>
                        {%- endif -%}
                      </div>
                    {% endif %}
                  </div>
              </div>
            {%- endfor -%}
          </div>
          <div class="customer-controls-slide">
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if section.settings.svg_bg_bottom != blank %}
    <div class="img-bg-bottom">
      {{ section.settings.svg_bg_bottom }}
    </div>
  {% endif %}
</div>
<style>
  .img-bg-bottom svg {
    width: 100%;
    height: auto;
  }
</style>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
       (function() {

      'use strict';
      const breakpoint = window.matchMedia( '(min-width:750px)' );
      let mySwiper2;
      const breakpointChecker = function() {
        if ( breakpoint.matches === true ) {
          if ( mySwiper2 !== undefined ) mySwiper2.destroy( true, true );
          return;
          } else if ( breakpoint.matches === false ) {
            return enableSwiper();

          }

      };

      const enableSwiper = function() {

        mySwiper2 = new Swiper ('#slider-list.swiper-container', {
          loop: true,
          slidesPerView: 1,
          pagination: {
              el: '.swiper-pagination',
              clickable: true,
          },
        });

      };
      breakpoint.addListener(breakpointChecker);
      breakpointChecker();

    })(); /* IIFE end */
  });

</script>
{% schema %}
{
  "name": "Image text group",
  "class": "section",
  "class": "section",
  "settings": [
    {
      "type": "html",
      "id": "heading",
      "default": "Image text list",
      "label": "Heading"
    },
    {
      "type":"color",
      "id":"color_bg",
      "default":"#E4F1F5",
      "label": "Background Color"
    },
    {
      "type":"textarea",
      "id":"svg_bg_bottom",
      "label": "Background code SVG",
      "default": "<svg width='1440' height='222' viewBox='0 0 1440 222' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M1440 0.000104212L2.47755e-05 -2.16771e-05L1.07352e-05 160.602C240.058 54.0214 480.115 107.273 720.173 160.525C960.115 213.751 1200.06 266.977 1440 160.602L1440 0.000104212Z' fill='#E4F1F5'/> </svg>"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
        "name": "Image with text",
        "type": "select",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.image-with-text.settings.image.label"
          },
          {
            "type": "html",
            "id": "title",
            "default": "Image text item",
            "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
          },
          {
            "type": "text",
            "id": "caption",
            "default": "Add a tagline",
            "label": "Sub heading"
          },
          {
            "type": "text",
            "id": "button_label",
            "default": "Button label",
            "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
            "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
          },
          {
            "type": "select",
            "id": "layout",
            "options": [
              {
                "value": "image_first",
                "label": "t:sections.image-with-text.settings.layout.options__1.label"
              },
              {
                "value": "text_first",
                "label": "t:sections.image-with-text.settings.layout.options__2.label"
              }
            ],
            "default": "image_first",
            "label": "t:sections.image-with-text.settings.layout.label",
            "info": "t:sections.image-with-text.settings.layout.info"
          },
          {
            "type": "radio",
            "id": "shade",
            "label": "Shade",
            "default": "shade_1",
            "options": [
              {
                "value": "shade_1",
                "label": "Shade 1"
              },
              {
                "value": "shade_2",
                "label": "Shade 2"
              },
              {
                "value": "shade_3",
                "label": "Shade 3"
              }
            ]
          }
        ]
      }
  ],
  "presets": [
    {
      "name": "Image text list",
      "blocks": [
        {
          "type": "select"
        },
        {
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}
