{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.min.css' | asset_url | stylesheet_tag }}
{{ 'component-selector.min.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'selector-handler.js' | asset_url }}" defer></script>


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate blog.articles by 12 -%}
  <div class="main-blog">
    <div class="main-blog__banner">
      <div class="page-width">
        <div class="main-blog__banner--text">
          <h1 class="title--primary">{{ blog.title | escape }}</h1>
          {% if current_tags %}
            <div class="blog__current-tag">Posts tagged: {{ current_tags.first }}</div>
          {% endif %}
        </div>
      </div>
      <img class="main-blog__banner--background" loading="lazy" src="{{ 'dots-background.svg' | asset_url }}">
      {% render 'background-image-wave' %}
    </div>

    <div class="page-width main-blog__content-wrapper section-{{ section.id }}">
      <div class="main-blog__content">
        <div class="blog-categories">
          <h2 class="blog-categories__title">Categories</h2>
          <ul class="blog-categories__list">
            {% for tag in blog.all_tags %}
              <li>{{ tag | link_to_tag: tag }}</li>
            {% endfor %}
          </ul>

          <select class="link-selector link-selector--mobile js-selector">
            <option target="{{ blog.url }}">All</option>
            {% for tag in blog.all_tags %}
            <option target="{{ blog.url }}/tagged/{{ tag.handle }}"
              {% if current_tags contains tag %}selected{% endif %}>
              {{ tag }}
            </option>
            {% endfor %}
          </select>

          <style>
            .link-selector {
              background-image: url('{{ "icon-caret.svg" | asset_url }}');
            }
          </style>
        </div>
  
        <div class="blog-articles-wrapper">
          <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
            {%- for article in blog.articles -%}
              <div class="blog-articles__article article">
                {%- render 'article-card',
                  article: article,
                  media_height: section.settings.image_height,
                  media_aspect_ratio: article.image.aspect_ratio,
                  show_image: true,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: false
                -%}
              </div>
            {%- endfor -%}
          </div>
          
          {%- if paginate.pages > 1 -%}
            {%- render 'pagination', paginate: paginate -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    }
  ]
}
{% endschema %}
