{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{%- liquid
  case section.settings.grid
    when 3
      assign grid_item_width = 'col-3'
    when 4
      assign grid_item_width = 'col-4'
    when 5
      assign grid_item_width = 'col-5'
  endcase
  assign limit = section.settings.rows
-%}

{%- paginate collection.products by limit -%}
  <div class="collection">
    <div class="container">
      <div class="collection__header">
        <h1 class="collection__header-title header-title"> {{ collection.title }} </h1>
        <div class="collection__nav">
          <ul class="collection__menu">
            {% for link in linklists.candy-by-decade.links %}
              <li class="collection__menu-item{% if link.active %} active{% endif %}" {% if forloop.index > 8 %}style="display: none"{% endif %}>
                <a class="collection__menu-link" href="{{ link.url }}">
                  {{- link.title -}}
                </a>
              </li>
              {% if forloop.last and forloop.index > 8 %}
                <li class="collection__menu-item collection__menu-view-more">
                  <a class="collection__menu-link menu-view-more js-menu-view-more" href="#">
                    <span> View more</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="collection__wrapper">
        <div class="collection-sidebar">
          <div class="collection-sidebar__filter sidebar-filter">
            <div class="sidebar-filter__item">
              <h3 class="collection-sidebar__header">
                <span>By type</span>
                <span class="collection-sidebar__header-icon">
                  {% render 'icon-arrow-down' %}
                </span>
              </h3>
            </div>
            <div class="sidebar-filter__item">
              <h3 class="collection-sidebar__header">
                <span>by flavor</span>
                <span class="collection-sidebar__header-icon">
                  {% render 'icon-arrow-down' %}
                </span>
              </h3>
            </div>
            <div class="sidebar-filter__item">
              <h3 class="collection-sidebar__header">
                <span>by occassion</span>
                <span class="collection-sidebar__header-icon">
                  {% render 'icon-arrow-down' %}
                </span>
              </h3>
            </div>
            <div class="sidebar-filter__item">
              <h3 class="collection-sidebar__header">
                <span>by decade</span>
                <span class="collection-sidebar__header-icon">
                  {% render 'icon-arrow-down' %}
                </span>
              </h3>
            </div>
          </div>
          <div class="collection__sort-by">
            <h3 class="collection-sidebar__header">Sort by</h3>
            <div class="sort-by__wrapper">
              <label class="sort-by__label">Name:</label>
              <select name="SortBy" id="SortBy" class="sort-by__select" onchange="location = this.value;">
                {% for option in collection.sort_options %}
                  <option value="?sort_by={{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>{{ option.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>
        <div class="collection-product__list">
          <div class="collection-product__inner {{ grid_item_width }}" id="collection-products">
            {%- for product in collection.products -%}
              {% render 'include--product-card', product: product %}
            {%- endfor -%}
          </div>
          {%- if paginate.pages > 1 -%}
            {% if section.settings.page == 'page' %}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {% else %}
              <a href="{{ paginate.next.url }}" class="js-infinite-scroll">
                <span class="loader"></span>
              </a>
            {% endif %}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- endpaginate -%}

<script>
  const items = document.querySelectorAll('.collection__menu-item');
  const btn = document.querySelector('.js-menu-view-more');
  btn.addEventListener('click', function handleClick(e) {
    e.preventDefault();
    items.forEach(function(item) {
      if (item.style.display === 'none') {
        item.style.display = 'block';
        btn.style.display = 'none';
      }
    })
  });
  window.addEventListener('load', (event) => {
    var isBusy = false;
    var listData = $('#collection-products');
    var btnLoadMore = $('.js-infinite-scroll');
    $(window).scroll(function() {
      let url = btnLoadMore.attr('href');
      if( $(window).scrollTop() + $(window).height() > $(document).height() * 0.8 ){
        if(isBusy == true) {
          return false;
        }
        if(btnLoadMore.length) {
          isBusy = true;
          $('[data-btn-text]').hide();
          btnLoadMore.show();
          $.get(url, function(data) {
            btnLoadMore.hide();
            var product = $(data).find('#collection-products');
            listData.append(product.children());
            btnLoadMore.replaceWith($(data).find('.js-infinite-scroll'));
            initQuickAdd();
          }).always (function() {
            isBusy = false;
          });

          return false;
        }
      }
    });
  });

</script>

{% schema %}
  {
    "name": "Colections pages",
    "settings": [
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "default": 3,
        "min": 2,
        "max": 5,
        "step": 1
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Products per page",
        "default": 18,
        "min": 2,
        "max": 50,
        "step": 1
      },
      {
        "type": "header",
        "content": "Paginate"
      },
      {
        "type": "radio",
        "id": "page",
        "label": "Paginate",
        "default": "scroll",
        "options": [
          {
            "value": "page",
            "label": "Paginate"
          },
          {
            "value": "scroll",
            "label": "Scroll load"
          }
        ]
      }
    ]
  }
{% endschema %}
