{{ 'component-buttons.min.css' | asset_url | stylesheet_tag }}
{{ 'section-main-404.min.css' | asset_url | stylesheet_tag }}

<div class="page-404-template page-width">
  <div class="page-404-template__text">
    <h1>DOH...</h1>
    <h3>THE PAGE YOU ARE LOOKING FOR CANNOT BE FOUND.</h3>
    <ul>
      <li>If you typed the URL directly, check for spelling errors</li>
      <li>If you clicked on a link to get here, we may have moved the page</li>
      <li>Feel free to try the search box above to find an item</li>
    </ul>

    <a href="{{ routes.all_products_collection_url }}" class="primary-btn">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>

  <div class="page-404-template__image">
    <img src="{{ '404-image.png' | asset_img_url: '500x' }}" loading="lazy" width="auto" height="auto">
  </div>
</div>

<script type="searchspring/personalized-recommendations" profile="404">
	options = {
		siteId : "y0yjxq",
	};
</script>
