{{ 'component-buttons.min.css' | asset_url | stylesheet_tag }}
{{ 'component-article-featured-product.min.css' | asset_url | stylesheet_tag }}
{{ 'section-blog-post.min.css' | asset_url | stylesheet_tag }}

{% assign blog_handle = article.handle | split: '/' | first %}
{% assign blog = blogs[blog_handle] %}
{% assign last_index = blog.articles_count | minus: 1 %}
{% for i_article in blog.articles %}
  {% if i_article == article %}
    {% assign article_index = forloop.index0 %}
  {% endif %}
{% endfor %}
{% assign prev_article_index = article_index | plus: 1 %}
{% assign next_article_index = article_index | minus: 1 %}

<article class="article-template background-light-blue" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="article__header">
    {% render 'background-image-wave' %}
    <div class="background-white"></div>

    <div class="article-template__hero-container">
      {%- if article.image -%}
        <div class="article-template__hero-image" itemprop="image">
          <img
            srcset="{% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
              {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
              {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
              {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
              {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
              {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
              {{ article.image | image_url }} {{ article.image.width }}w"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
            src="{{ article.image | image_url: width: 1100 }}"
            width="{{ article.image.width }}"
            height="{{ article.image.height }}"
            alt="{{ article.image.alt | escape }}" aria-hidden="true">
        </div>
      {%- endif -%}
    
      <div class="article-template__hero-textbox">
        <div class="article-template__hero-title">
          <h1 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h1>
          <div class="article-template__info">
            {%- if section.settings.blog_show_date -%}
              Posted <span class="circle-divider caption-with-letter-spacing" itemprop="dateCreated pubdate datePublished">{{ article.published_at | time_tag: format: 'date' }} </span>
            {%- endif -%}
            <br class="mobile">in {{ blog.title | link_to: blog.url }}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="background-white">
    <div class="article-template__content page-width page-width--narrow" itemprop="articleBody">
      {% if article.metafields.accentuate.article_content.size > 0 %}
        {% for i in (0..article.metafields.accentuate.article_content.size) %}
          {% for field in shop.metafields.acf_settings.article.fields %}
            {% assign field_value = article.metafields[field.namespace][field.name][i] %}
            {% case field.name %}
              {% when 'article_content' %}
                {{ field_value }}            
              {% when 'featured_product' %}
                {% assign product = all_products[field_value] %}
                {% if product != empty %}
                  {% render 'article-featured-product', product: product %}                  
                {% endif %}
            {% endcase %}
          {% endfor %}
        {% endfor %}     
      {% else %}
        {{ article.content }}   
      {% endif %}
    </div>

    <div class="page-width page-width--narrow">
      <div class="article-template__social-sharing">
        <h6 class="article-template__social-sharing--title">Share</h6>
        {% render 'social-media-share', options: 'facebook, pinterest' %}
      </div>

      <div class="article-template__navigation">
        {% unless article_index == last_index %}
          <a href="{{ blog.articles[prev_article_index].url }}" class="nav-btn nav-btn--prev">{% render 'icon-prev' %} <span>Previous post</span></a>        
        {% endunless %}
  
        {% unless article_index == 0 %}
          <a href="{{ blog.articles[next_article_index].url }}" class="nav-btn nav-btn--next"><span>Next post</span> {% render 'icon-prev' %}</a>        
        {% endunless %}
      </div>
    </div>
  </div>

  {%- if blog.comments_enabled? -%}
    <div class="article-template__comment-wrapper background-light-blue">
      <div class="wave-background">
        <div class="background-white"></div>
        {% render 'background-image-wave', class: 'flip' %}
      </div>

      <div class="page-width page-width--narrow">
        <div class="background-white article-template__comment-form" id="comments">
          {%- if article.comments_count > 0 -%}
            {%- assign anchorId = '#Comments-' | append: article.id -%}

            {% paginate article.comments by 5 %}
              <div class="article-template__comments">
                {%- if comment.status == 'pending' and comment.content -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    {{ comment.content }}
                    <footer class="right">
                      <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                    </footer>
                  </article>
                {%- endif -%}

                {%- for comment in article.comments -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    {{ comment.content }}
                    <footer class="right">
                      <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span><span class="caption-with-letter-spacing">{{ comment.created_at | time_tag: format: 'date' }}</span>
                    </footer>
                  </article>
                {%- endfor -%}
                {% render 'pagination', paginate: paginate, anchor: anchorId %}
              </div>
            {% endpaginate %}
          {%- endif -%}

          {% form 'new_comment', article %}
            {%- liquid
              assign post_message = 'blogs.article.success'
              if blog.moderated? and comment.status == 'unapproved'
                assign post_message = 'blogs.article.success_moderated'
              endif
            -%}

            <div class="article__comments--heading">
              <h2>{{ 'blogs.article.comment_form_title' | t }}</h2>
              {% if article.comments_count > 1 %}
                <div class="article__comments-count" id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments.other' | t: count: article.comments_count }}</div>
              {% else %}
                <div class="article__comments-count" id="Comments-{{ article.id }}" tabindex="-1">{{ 'blogs.article.comments.one' | t: count: article.comments_count }}</div>
              {% endif %}
            </div>
           
            {%- if form.errors -%}
              <div class="form__message" role="alert">
                <h3 class="form-status caption-large text-body" tabindex="-1" autofocus>
                  {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
                </h3>
              </div>
              <ul class="form-status-list caption-large">
                {%- for field in form.errors -%}
                  <li>
                    <a href="#CommentForm-{{ field }}" class="link">
                      {%- if form.errors.translated_fields[field] contains 'author' -%}
                        {{ 'blogs.article.name' | t }}
                      {%- elsif form.errors.translated_fields[field] contains 'body'-%}
                      {{ 'blogs.article.message' | t }}
                      {%- else -%}
                        {{ form.errors.translated_fields[field] }}
                      {%- endif -%}
                      {{ form.errors.messages[field] }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- elsif form.posted_successfully? -%}
              {%- comment -%}
              <div class="form-status-list form__message" role="status">
                <h3 class="form-status" tabindex="-1" autofocus>{% render 'icon-success' %} {{ post_message | t }}</h3>
              </div>
              {%- endcomment -%}
              {% render 'article-success-modal' %}
            {%- endif -%}

            <div{% if blog.moderated? == false %} class="article-template__comments-fields"{% endif %}>
              <div class="article-template__comment-fields">
                <div class="field field--with-error">
                  <label class="field__label" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                  <input
                    type="text"
                    name="comment[author]"
                    id="CommentForm-author"
                    class="field__input"
                    autocomplete="name"
                    value="{{ form.author }}"
                    aria-required="true"
                    required
                    {% if form.errors contains 'author' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-author-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.name' | t }}"
                  >
                  {%- if form.errors contains 'author' -%}
                    <small id="CommentForm-author-error">
                      <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                    </small>
                  {%- endif -%}
                </div>

                <div class="field field--with-error">
                  <label class="field__label" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                  <input
                    type="email"
                    name="comment[email]"
                    id="CommentForm-email"
                    autocomplete="email"
                    class="field__input"
                    value="{{ form.email }}"
                    autocorrect="off"
                    autocapitalize="off"
                    aria-required="true"
                    required
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="CommentForm-email-error"
                    {% endif %}
                    placeholder="{{ 'blogs.article.email' | t }}"
                  >
                  {%- if form.errors contains 'email' -%}
                    <small id="CommentForm-email-error">
                      <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                    </small>
                  {%- endif -%}
                </div>
              </div>
              <div class="field field--with-error">
                <label class="form__label field__label" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
                <textarea
                  rows="5"
                  name="comment[body]"
                  id="CommentForm-body"
                  class="text-area field__input"
                  aria-required="true"
                  required
                  {% if form.errors contains 'body' %}
                    aria-invalid="true"
                    aria-describedby="CommentForm-body-error"
                  {% endif %}
                  placeholder="{{ 'blogs.article.message' | t }}"
                >{{ form.body }}</textarea>
              </div>
              {%- if form.errors contains 'body' -%}
                <small id="CommentForm-body-error">
                  <span class="form__message">{% render 'icon-error' %}{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
                </small>
              {%- endif -%}
            </div>
            {%- if blog.moderated? -%}
              <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
            {%- endif -%}
            <input type="submit" class="primary-btn" value="{{ 'blogs.article.post' | t }}">
          {% endform %}
        </div>
      </div>
  </div>
  {%- endif -%}
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "default": true,
      "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
