{{ 'component-image-text-list.css' | asset_url | stylesheet_tag }}
{{ 'section-make-difference.min.css' | asset_url | stylesheet_tag }}

<div class="make-difference-section">
   <div class="content-wrapper">
      <h2 class="make-difference__title">{{ section.settings.heading }}</h2>
      <div class="make-difference__content">
         {% for block in section.blocks %}
            <div class="make-difference__row image-text-list__{{ block.settings.shade }}">
               <div class="image-with-text__media make-difference__image make-difference__image--{{ block.settings.image_pos }}">
                  {% assign image = block.settings.image %}
                  <img src="{{ image | image_url }}" alt="{{ image.alt }}" class="image-text-list__img"
                     loading="lazy" width="{{ image.width }}" height="auto" />
               </div>
   
               <div class="make-difference__text-container">
                  <div class="make-difference__subheading">{{ block.settings.subheading }}</div>
                  <h3 class="make-difference__heading">{{ block.settings.heading }}</h3>
                  <div class="make-difference__desc">{{ block.settings.desc }}</div>
               </div>
            </div>   
         {% endfor %}
      </div>
   </div>
</div>

{% schema %}
   {
      "name": "Making a difference",
      "settings": [
         {
            "id": "heading",
            "label": "Heading",
            "type": "text",
            "default": "MAKING A DIFFERENCE IN SIERRA LEONE"
         }
      ],
      "blocks": [
         {
            "name": "Block",
            "type": "row",
            "settings": [
               {
                  "id": "image",
                  "type": "image_picker",
                  "label": "Image"
               },
               {
                  "id": "image_pos",
                  "type": "select",
                  "label": "Image position",
                  "options": [
                     {
                        "value": "left",
                        "label": "Left"
                     },
                     {
                        "value": "right",
                        "label": "Right"
                     }
                  ]
               },
               {
                  "type": "radio",
                  "id": "shade",
                  "label": "Shade",
                  "default": "shade_1",
                  "options": [
                    {
                      "value": "shade_1",
                      "label": "Shade 1"
                    },
                    {
                      "value": "shade_2",
                      "label": "Shade 2"
                    },
                    {
                      "value": "shade_3",
                      "label": "Shade 3"
                    }
                  ]
               },
               {
                  "id": "heading",
                  "type": "richtext",
                  "label": "Heading"
               },
               {
                  "id": "subheading",
                  "type": "text",
                  "label": "Subheading"
               },
               {
                  "id": "desc",
                  "type": "richtext",
                  "label": "Description"
               }
            ]
         }
      ],
      "presets": [
         {
            "name": "Making a difference"
         }
      ]
   }
{% endschema %}