<div class="quick-add__container">
  <div class="quick-add__header">
    <span class="quick-add__header-title">{{ product.title }}</span>
    <button aria-label="Close Quick Add to Cart" class="quick-add__header-icon js-close-quick-add">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14.4735 13.5266C14.5997 13.6518 14.6707 13.8222 14.6707 14C14.6707 14.1777 14.5997 14.3481 14.4735 14.4733C14.3483 14.5995 14.1779 14.6705 14.0001 14.6705C13.8224 14.6705 13.652 14.5995 13.5268 14.4733L8.00012 8.93998L2.47346 14.4733C2.34828 14.5995 2.17788 14.6705 2.00012 14.6705C1.82236 14.6705 1.65197 14.5995 1.52679 14.4733C1.40058 14.3481 1.32959 14.1777 1.32959 14C1.32959 13.8222 1.40058 13.6518 1.52679 13.5266L7.06012 7.99998L1.52679 2.47331C1.35768 2.3042 1.29164 2.05773 1.35354 1.82672C1.41543 1.59572 1.59587 1.41529 1.82687 1.35339C2.05787 1.29149 2.30435 1.35754 2.47346 1.52664L8.00012 7.05998L13.5268 1.52664C13.7882 1.26523 14.212 1.26523 14.4735 1.52664C14.7349 1.78806 14.7349 2.21189 14.4735 2.47331L8.94012 7.99998L14.4735 13.5266Z" fill="#262626"/>
      </svg>
    </button>
  </div>
  <div class="quick-add__content">
    <product-form class="product-form">
    {%- assign product_form_id = 'product-form-' | append: section.id -%}
    {%- form 'product', product, id: product_form_id, class: 'installment caption-large' -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
        {%- for option in product.options_with_values -%}
          {%- assign optionName = option.name | downcase -%}
          {% assign is_size = false %}
          {% if optionName == 'decade' %}
            {% assign is_size = true %}
          {% endif %}
            <fieldset class="js product-form__input">
              <legend class="form__label">Choose a {{ option.name }}<span style="color: #AC1229;">*</span></legend>
              {% if is_size %}
                <div class="product-swatch__label">
                  <span class="js-swacth-label"></span>
                  <span>
                    {% render 'icon-caret' %}
                  </span>
                </div>
              {% endif %}
              <div class="{% if is_size %}product-form__swatch-dropdown{% else %} product-form__swatch-size{% endif %}">
                {%- for value in option.values -%}
                  <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                        name="{{ option.name }}"
                        value="{{ value | escape }}"
                        form="{{ product_form_id }}"
                        {% if option.selected_value == value %}checked{% endif %}
                  >
                  <label {% if is_size %}class="js-swatch-item{% if option.selected_value == value %} js-swatch-active{% endif %}"{% endif %} for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                    {% if value contains 'decade gift box' %}
                    {{ value | downcase | split: 'decade gift box' }}
                    {% else %}
                      {{ value }}
                    {% endif %}
                  </label>
                {%- endfor -%}
              </div>
            </fieldset>
        {%- endfor -%}
        <script type="application/json">
          {{ product.variants | json }}
        </script>
      </variant-radios>
      <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
        {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
      </div>
      <div class="product-form__buttons">
        <button data-add-to-cart type="submit" name="add" class="product-form__submit button" {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
          <span>
            {%- if product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </span>
          <div class="loading-overlay__spinner hidden">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>
        <div class="sold-out-variant" style="display: none;">
          <a href="#" class="BIS_trigger" data-product-data="{{ product | json | escape }}">
            Email when available
          </a>
        </div>
      </div>
    {%- endform -%}
    </product-form>
  </div>
</div>
