<link rel="stylesheet" href="{{ 'section-statistics-fact.min.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-statistics-fact.min.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'statistics-fact-slider.js' | asset_url }}" defer></script>

<section class="statistics-fact-section background-white">
   <h2 class="statistics-fact-section__title">{{ section.settings.title }}</h2>
   <div class="content-wrapper">
      <div class="statistics-fact-section__content desktop">
         {% for block in section.blocks %}
            <div class="statistics-fact">
               <div class="statistics-fact__value" data-label="{{ block.settings.value }}"></div>
               <p class="statistics-fact__label">{{ block.settings.label }}</p>
            </div>
         {% endfor %}
      </div>

      <div class="swiper mobile" id="statistics-fact-slider" >
         <div class="swiper-wrapper">
            {% for block in section.blocks %}
               <div class="swiper-slide">
                  <div class="statistics-fact">
                     <div class="statistics-fact__value" data-label="{{ block.settings.value }}"></div>
                     <p class="statistics-fact__label">{{ block.settings.label }}</p>
                  </div>
               </div>
            {% endfor %}
         </div>
      </div>
   </div>
</section>

{% schema %}
   {
      "name": "Statistics Fact",
      "blocks": [
         {
            "name": "Statistics",
            "type": "statistics",
            "settings": [
               {
                  "id": "label",
                  "type": "text",
                  "label": "Label",
                  "default": "Infant Mortality Rate"
               },   
               {
                  "id": "value",
                  "type": "text",
                  "label": "Value",
                  "default": "15.8%"
               }
            ]
         }
      ],
      "presets": [
         {
            "name": "Statistics Fact",
            "blocks": [
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               },
               {
                  "type": "statistics"
               }
            ]
         }
      ]
   }
{% endschema %}