{% layout none %}
<div class="mini-cart">
  <div class="mini-cart__header">
    <div class="mini-cart__inner">
      <div class="mini-cart__close js-close-minicart">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.04163 9.45008L12.7083 1.95008C13.0123 1.60533 13.538 1.57177 13.8833 1.87508C14.2281 2.17905 14.2616 2.70475 13.9583 3.05008L7.7833 10.0001L13.9583 16.9501C14.2381 17.2975 14.1947 17.8037 13.8598 18.0984C13.5249 18.3931 13.0173 18.3718 12.7083 18.0501L6.04163 10.5501C5.76526 10.2355 5.76526 9.76467 6.04163 9.45008Z" fill="#484E57"/>
        </svg>
      </div>
      <span class="mini-cart__header-title">My bag </span>
      <span class="mini-cart__count js-mini-cart-count"> ({{ cart.item_count }} Items) </span>
    </div>
    {% if cart.item_count > 0 %}
      <div class="mini-cart__icon-cart">
        <span class="mini-cart__icon-count js-mini-cart-count"> {{ cart.item_count }} </span>
      </div>
    {% endif %}
  </div>

  {% if cart.item_count > 0 %}
    <div class="mini-cart__progress">
      {% assign freeshipPrice = settings.min_price | plus: 0 %}
      {% assign cartTotalPrice = cart.total_price | times: 100 | divided_by: freeshipPrice %}
      {% assign remaining_price = freeshipPrice | minus: cart.total_price %}
      <div class="mini-cart__progress-text">
        {%- if cartTotalPrice >= 100 -%}
          {{- settings.progress_text -}}
        {%- else -%}
          {{ settings.pro_hint }} {{ remaining_price | money }} {{ settings.pro_hint_2 }}
          <a href="{{ settings.link_shop }}">shop bulk candy</a>
        {%- endif -%}
      </div>
      <div class="mini-cart__progress-bar">
        <div class="mini-cart__progress-percent" style="width: {{ cartTotalPrice }}%"></div>
      </div>
    </div>
  {% endif %}

  {% if cart.item_count > 0 %}
    <form class="mini-cart__form" action="/cart" method="post" novalidate>
      <div class="mini-cart__list js-mini-cart-list">
        {%- for item in cart.items -%}
          {% assign included = false %}
          {% for tag in item.product.tags %}
            {% if tag == 'Exclude' %}
              {% assign included = true %}
            {% endif %}
          {% endfor %}
          <div class="mini-cart__item" data-id="{{ item.id }}">
            <div class="mini-cart__picture">
              <a class="mini-cart__link" href="{{ item.url }}">
                <img class="mini-cart__image" src="{{ item | img_url: 'x250' }}" alt="{{ item.image.alt | escape }}">
              </a>
            </div>
            <div class="mini-cart__info">
              <a class="mini-cart__link mini-cart__title" href="{{ item.url }}">
                {{- item.product.title -}}
              </a>

              {%- if item.product.has_only_default_variant == false -%}
                <div class="mini-cart__variants"> {{- item.variant.title -}} </div>
              {%- endif -%}

              <div class="mini-cart__group">
                <div class="mini-cart__wrapper">
                  <div class="mini-cart__qty">
                    <button type="button" class="mini-cart__btn cart__btn-minus{% if included %} cart__btn-disabled {% endif %}" {% if included %} disabled {% endif %}>
                      {%- render 'icon-minus' -%}
                    </button>
                    <input class="mini-cart__qty-input cart-{{ item.id }}" data-cart-id="{{ item.id }}" type="number" name="updates[]" value="{{ item.quantity }}" min="0" pattern="[0-9]*" {% if included %} disabled {% endif %}>
                    <button type="button" class="mini-cart__btn cart__btn-plus{% if included %} cart__btn-disabled {% endif %}" {% if included %} disabled {% endif %}>
                      {%- render 'icon-plus' -%}
                    </button>
                  </div>
                </div>
                {%- liquid
                  assign curPrice = item.price
                  assign itemQuantity = item.quantity
                  assign totalPriceItem = curPrice | times: itemQuantity
                 -%}
                 <div class="mini-cart__detail-price">
                  <div class="mini-cart__total__sub-price"> {{ totalPriceItem | money }} </div>
                  <div class="mini-cart__price">
                    x {{ item.price | money }} per
                  </div>
                </div>
              </div>
            </div>
            <a class="mini-cart__remove js-remove-item-cart" href="#">
              <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.54597 8.45409C9.62485 8.53233 9.66922 8.63882 9.66922 8.74992C9.66922 8.86102 9.62485 8.96752 9.54597 9.04576C9.46773 9.12464 9.36124 9.16901 9.25014 9.16901C9.13904 9.16901 9.03254 9.12464 8.9543 9.04576L5.50014 5.58742L2.04597 9.04576C1.96773 9.12464 1.86124 9.16901 1.75014 9.16901C1.63904 9.16901 1.53254 9.12464 1.4543 9.04576C1.37542 8.96752 1.33105 8.86102 1.33105 8.74992C1.33105 8.63882 1.37542 8.53233 1.4543 8.45409L4.91264 4.99992L1.4543 1.54576C1.34861 1.44007 1.30734 1.28602 1.34602 1.14164C1.38471 0.997265 1.49748 0.884494 1.64185 0.845808C1.78623 0.807123 1.94028 0.8484 2.04597 0.954091L5.50014 4.41242L8.9543 0.954091C9.11769 0.790706 9.38259 0.790706 9.54597 0.954091C9.70936 1.11747 9.70936 1.38237 9.54597 1.54576L6.08764 4.99992L9.54597 8.45409Z" fill="#777777"/>
              </svg>
            </a>
          </div>
        {%- endfor -%}

        {% assign isChecked = false %}

        {% if settings.enable_donation_product %}
          {% if settings.donation_product != blank %}
            <div class="product-donate">
              <div class="product-donate__header">
                <div class="product-donate__header-title">
                  {{- settings.cart_title_1 -}}
                </div>
                <div class="product-donate__sub-header">
                  {{- settings.cart_title_2 -}}
                  <a class="product-donate__more js-donate-read-more" href="#">Read more</a>
                </div>
              </div>
              <div class="product-donate__desc">
                {{- settings.cart_desc -}}
                <a class="product-donate__more js-read-less" href="#"> Read less</a>
              </div>
              <div class="product-donate__list">
                {%- assign donation_product = all_products[settings.donation_product] -%}
                {% for variant in donation_product.variants limit: 5 %}
                  {%- for item in cart.items -%}
                    {% if item.id == variant.id %}
                      {% assign isChecked = true %}
                    {% endif %}
                  {%- endfor -%}
                  <div class="product-donate__item">
                    <input class="product-donate__input js-product-donate hidden" type="radio" value="{{ variant.id }}" id="ProductDonate-{{ variant.id }}"{%- for item in cart.items -%}{% if item.id == variant.id %} checked {% endif %}{% endfor %}>
                    <label class="product-donate__label" for="ProductDonate-{{ variant.id }}"> {{ variant.title | remove: "Donation" }} </label>
                  </div>
                {% endfor %}
              </div>
              {% if isChecked %}
                <div class="product-donate__message"> {{- settings.cart_message -}} </div>
              {% endif %}
              <a class="product-donate__remove js-remove-donate" href="#">
                <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.54597 8.45409C9.62485 8.53233 9.66922 8.63882 9.66922 8.74992C9.66922 8.86102 9.62485 8.96752 9.54597 9.04576C9.46773 9.12464 9.36124 9.16901 9.25014 9.16901C9.13904 9.16901 9.03254 9.12464 8.9543 9.04576L5.50014 5.58742L2.04597 9.04576C1.96773 9.12464 1.86124 9.16901 1.75014 9.16901C1.63904 9.16901 1.53254 9.12464 1.4543 9.04576C1.37542 8.96752 1.33105 8.86102 1.33105 8.74992C1.33105 8.63882 1.37542 8.53233 1.4543 8.45409L4.91264 4.99992L1.4543 1.54576C1.34861 1.44007 1.30734 1.28602 1.34602 1.14164C1.38471 0.997265 1.49748 0.884494 1.64185 0.845808C1.78623 0.807123 1.94028 0.8484 2.04597 0.954091L5.50014 4.41242L8.9543 0.954091C9.11769 0.790706 9.38259 0.790706 9.54597 0.954091C9.70936 1.11747 9.70936 1.38237 9.54597 1.54576L6.08764 4.99992L9.54597 8.45409Z" fill="#777777"/>
                </svg>
              </a>
            </div>
          {% endif %}
        {% endif %}
      </div>
      <div class="mini-cart__bottom">
        <div class="mini-cart-bottom__item">
          <div class="mini-cart-bottom__text"> Subtotal ({{ cart.item_count }} items) </div>
          <div class="mini-cart-bottom__total-price"> {{ cart.total_price | money }} </div>
        </div>
        <div class="mini-cart-bottom__item">
          <button type="submit" class="mini-cart__checkout-btn button" {% if cart.total_price < freeshipPrice %} disabled {% endif %}> Proceed to checkout </button>
          {% if cart.total_price < freeshipPrice %}<div class="mini-cart__checkout-text">minimum order value is {{ freeshipPrice | money }}</div>{% endif %}
        </div>
        <div class="mini-cart__add-on">
          {% if settings.enable_gift %}
          <div class="mini-cart__field">
            <input type="checkbox" value="Gift Message" id="GiftMessage" class="js-gift-message hidden">
            <label class="mini-cart__label" for="GiftMessage">
              <span class="mini-cart__gift-add js-gift-add">Add</span>
              <span class="mini-cart__gift-text">{{ settings.gift_label }}</span>
            </label>
          </div>
          {% endif %}
          <div class="mini-cart__field">
            {%- assign shipping_product = all_products[settings.shipping_product] -%}
            {% assign isInclude = false %}
            {%- for item in cart.items -%}
              {% if item.id == shipping_product.variants[0].id %}
                {% assign isInclude = true %}
              {% endif %}
            {% endfor %}
            <input type="radio" value="{{ shipping_product.variants[0].id }}" id="CartInclude" class="gift-include js-product-donate hidden" {% if isInclude %} checked {% endif %}>
            <label class="mini-cart__label" for="CartInclude">
              <span class="mini-cart__gift-add"> {%- if isInclude -%}Added {%- else -%} Add {%- endif -%}</span>
              <span class="mini-cart__gift-text">
                {{ settings.cart_label }}
              </span>
            </label>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <div class="mini-cart-empty">
        <div class="mini-cart__progress">
          <div class="mini-cart__progress-text">
            {{- settings.cart_empty_text -}}
          </div>
          <div class="mini-cart__progress-bar">
            <div class="mini-cart__progress-percent" style="width: 0;"></div>
          </div>
        </div>
      <div class="mini-cart-empty__icon">
        <svg width="103" height="200" viewBox="0 0 103 200" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M81.9071 195.395C82.0219 192.64 80.3461 190.293 76.8339 190.14C75.5943 190.14 74.1251 190.14 72.2427 190.14L81.1725 165.909H29.7061L38.6359 190.14C36.5928 190.14 34.894 189.911 33.5397 189.911C32.8456 189.745 32.1265 189.761 31.4387 189.956C30.7509 190.152 30.1133 190.522 29.576 191.037C29.0386 191.553 28.6161 192.2 28.3417 192.927C28.0674 193.655 27.9487 194.443 27.9948 195.23C28.0409 196.017 28.2507 196.782 28.6077 197.463C28.9646 198.145 29.4589 198.726 30.0519 199.16C30.6449 199.593 31.3202 199.868 32.0249 199.963C32.7297 200.058 33.4446 199.97 34.1135 199.705C40.28 198.622 46.3648 197.027 52.3173 194.936C53.0978 194.681 53.5569 194.425 53.7865 193.533C54.0161 192.64 55.1409 188.431 55.1409 188.431C55.1409 188.431 56.2657 192.717 56.4952 193.329C56.5793 193.703 56.7658 194.039 57.0289 194.29C57.2921 194.541 57.619 194.695 57.9644 194.732C63.973 196.817 70.1109 198.411 76.3289 199.501C76.9565 199.699 77.6155 199.741 78.2593 199.624C78.9032 199.508 79.516 199.236 80.0547 198.827C80.5934 198.418 81.0446 197.883 81.3766 197.259C81.7086 196.635 81.9133 195.938 81.976 195.216" fill="#262626"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M98.6436 128.082C98.6436 111.528 88.8186 102.983 76.721 102.983H33.8859C21.7883 102.983 11.9634 111.528 11.9634 128.082V137.264H25.9662C25.3005 148.691 24.1757 160.731 31.2919 173.561C39.2338 175.174 47.3 175.909 55.3723 175.754C63.598 175.88 71.8155 175.129 79.9119 173.51C87.0281 160.756 86.6838 145.758 85.2146 137.213H98.5518L98.6436 128.082Z" fill="#BD234E"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M94.5804 55.1315C95.1543 50.3617 93.7769 46.5866 90.9534 46.0764C90.2976 45.9286 89.6158 46.0656 89.048 46.4591C80.2331 25.4924 59.3206 15.0601 40.5658 22.8652C21.8111 30.6703 11.7565 54.0092 16.715 76.6083C16.0964 76.7943 15.5438 77.1859 15.131 77.7306C13.3175 80.2813 14.3276 84.1328 17.4266 87.2702C20.5256 90.4075 21.375 96.8097 23.0737 98.5697C23.6899 99.2305 24.5129 99.5998 25.3693 99.5998C26.2256 99.5998 27.0486 99.2305 27.6648 98.5697C32.8091 104.384 39.315 108.484 46.4468 110.404C53.5786 112.324 61.0516 111.989 68.0208 109.436C83.4929 103.518 92.3078 88.3415 93.2719 71.3794C94.0779 71.3284 94.8406 70.9581 95.4218 70.3357C96.003 69.7133 96.3642 68.8799 96.4398 67.9869C96.7612 65.4362 93.8228 59.8247 94.5115 55.0549" fill="#FAC1A2"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M37.0081 74.849C40.635 72.4514 42.9995 74.2114 42.7699 73.5992C42.003 72.3212 40.8121 71.4321 39.4573 71.1262C38.1025 70.8204 36.6939 71.1226 35.5389 71.9668C34.3507 72.7431 33.4604 73.9774 33.0372 75.435C32.614 76.8927 32.6874 78.4723 33.2433 79.8738C33.4499 80.486 33.6796 77.1191 37.077 74.7724" fill="#563937"/>
          <path d="M37.0081 74.849C40.635 72.4514 42.9995 74.2114 42.7699 73.5992C42.003 72.3212 40.8121 71.4321 39.4573 71.1262C38.1025 70.8204 36.6939 71.1226 35.5389 71.9668C34.3507 72.7431 33.4604 73.9774 33.0372 75.435C32.614 76.8927 32.6874 78.4723 33.2433 79.8738C33.4499 80.486 33.6796 77.1191 37.077 74.7724" stroke="#563937" stroke-width="0.103189"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M71.9673 60.2842C73.9469 59.9103 75.9821 60.3067 77.7292 61.4065C77.4166 59.9206 76.593 58.6296 75.4347 57.8097C74.2764 56.9898 72.8753 56.7062 71.5311 57.0195C70.1869 57.3121 68.9828 58.1333 68.1395 59.3327C67.2962 60.5321 66.8703 62.0291 66.94 63.5492C68.3042 61.9287 70.0694 60.7927 72.0132 60.2842" fill="#563937"/>
          <path d="M71.9673 60.2842C73.9469 59.9103 75.9821 60.3067 77.7292 61.4065C77.4166 59.9206 76.593 58.6296 75.4347 57.8097C74.2764 56.9898 72.8753 56.7062 71.5311 57.0195C70.1869 57.3121 68.9828 58.1333 68.1395 59.3327C67.2962 60.5321 66.8703 62.0291 66.94 63.5492C68.3042 61.9287 70.0694 60.7927 72.0132 60.2842" stroke="#563937" stroke-width="0.103189"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M90.0559 49.8519C88.4092 42.7834 85.1378 36.3116 80.5623 31.071C75.9867 25.8304 70.2641 22.0008 63.9555 19.9577C48.2309 15.0603 34.1132 22.5083 24.9309 34.9047C11.5937 42.5568 9.34416 61.1514 17.8148 80.6133C18.2316 76.5174 18.8755 72.454 19.743 68.4464C20.753 64.6714 21.6483 71.3287 21.6483 71.3287C21.6483 71.3287 33.4016 60.7688 31.6111 48.3724C35.9252 50.9605 40.715 52.4175 45.614 52.632C53.7323 53.1047 61.8264 51.2884 69.1434 47.3521C67.9434 44.7606 66.2517 42.4893 64.1851 40.6948C63.726 40.3122 62.8307 39.8021 64.6213 40.5673C68.2482 42.0722 75.7087 44.6994 80.8967 43.4496C80.6094 41.9717 80.1543 40.5403 79.5424 39.1899C83.3024 42.467 86.8536 46.0296 90.1707 49.8519" fill="#563937"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.6103 24.6254L18.619 15.698C22.9027 13.1733 27.0218 10.318 30.9461 7.15312C31.3906 6.86937 31.7747 6.48227 32.072 6.01828C32.3694 5.55428 32.573 5.02435 32.6689 4.4648C32.7648 3.90526 32.7508 3.32931 32.6278 2.77635C32.5048 2.22339 32.2756 1.70647 31.9561 1.26102C31.6269 0.85364 31.2222 0.530167 30.77 0.312683C30.3177 0.0951988 29.8285 -0.011182 29.3358 0.000929449C28.8431 0.0130409 28.3587 0.143322 27.9155 0.382818C27.4724 0.622314 27.0809 0.965438 26.7682 1.3886C23.1221 5.6231 19.7615 10.1501 16.7136 14.9328C11.8573 17.5429 7.17073 20.526 2.68776 23.8602C2.25167 24.1346 1.87265 24.5083 1.57557 24.9568C1.27849 25.4053 1.07005 25.9185 0.963852 26.4627C0.857659 27.0069 0.856128 27.5699 0.959369 28.1149C1.06261 28.6598 1.26832 29.1743 1.56296 29.6247C1.87489 30.0558 2.2698 30.4036 2.71873 30.6426C3.16765 30.8816 3.65917 31.0056 4.15696 31.0056C4.65474 31.0056 5.14612 30.8816 5.59504 30.6426C6.04397 30.4036 6.43902 30.0558 6.75095 29.6247C10.2623 25.7974 13.5154 21.6882 16.4841 17.3304L22.4755 26.2579C22.1311 26.615 21.6721 26.9975 21.2359 27.3801C16.2054 32.3515 12.6565 38.9071 11.0613 46.1746C9.46612 53.4421 9.90036 61.0772 12.3062 68.0638C12.6275 68.9311 13.2014 68.574 13.431 68.0638C27.8241 33.6549 57.6664 22.7124 65.081 20.3402C66.0911 19.9576 66.2059 19.6005 65.4254 19.0904C60.0997 15.6979 43.5946 8.30095 24.6103 24.6254Z" fill="#BD234E"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24.1758 26.003C22.2112 29.764 21.0822 33.9914 20.8826 38.3343C20.683 42.6772 21.4185 47.0105 23.028 50.9743C29.7733 41.8702 38.0253 34.2855 47.338 28.6302C47.338 28.5027 38.6378 19.3457 24.1758 26.0795" fill="#F2F2F2"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M72.3145 73.7266C73.8567 77.8466 73.892 82.4725 72.4132 86.6211C70.9343 90.7697 68.0577 94.114 64.3948 95.9432C62.5905 96.8081 60.648 97.26 58.683 97.272C56.718 97.2839 54.771 96.8556 52.9582 96.0128C51.1455 95.17 49.5043 93.9299 48.1326 92.3666C46.7608 90.8032 45.6866 88.9486 44.9744 86.9136L72.3145 73.7266Z" fill="#F38970"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M48.0024 85.3834L69.3741 75.1807C69.3741 75.1807 69.6037 78.1905 69.7185 78.5731C69.7136 78.8403 69.6334 79.099 69.489 79.3128C64.273 84.566 57.6372 87.7503 50.6194 88.3677C50.512 88.4066 50.3957 88.4025 50.2909 88.3559C50.186 88.3092 50.0991 88.2232 50.0455 88.1127C49.2987 87.3305 48.615 86.477 48.0024 85.562" fill="#F2F2F2"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M27.8242 137.009C45.6188 142.974 64.5957 143.018 82.4127 137.137L81.8616 145.937C73.3384 148.448 64.5559 149.709 55.7381 149.686C46.6549 149.658 37.602 148.52 28.7425 146.294L27.8242 137.009Z" fill="#F2F2F2"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M26.6541 156.216C45.5986 161.546 65.4667 161.291 84.2955 155.477L82.482 165.016C73.5544 167.003 64.4762 168.036 55.3715 168.102C46.2781 168.115 37.2004 167.261 28.238 165.552L26.6541 156.216Z" fill="#F2F2F2"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M14.2122 137.494C14.3027 146.367 15.603 155.173 18.0687 163.613C18.6196 165.628 20.0887 168.715 21.4431 164.608C21.4431 164.608 22.017 167.618 23.027 168.128C23.6009 168.383 25.1849 168 25.1849 165.577C25.1849 165.577 26.7689 170.347 28.5824 169.454C30.0515 168.587 28.4676 162.057 28.4676 162.057C28.4676 162.057 31.4059 165.322 32.7603 163.817C33.426 163.052 30.832 157.543 29.8219 153.13C28.879 147.956 28.2729 142.714 28.0085 137.443C27.8937 134.892 14.2351 134.433 14.2351 137.571" fill="#FAC1A2"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M96.1618 137.494C96.0712 146.367 94.771 155.174 92.3053 163.613C91.7544 165.628 90.2851 168.715 88.9308 164.608C88.9308 164.608 88.3569 167.618 87.3468 168.128C86.7729 168.383 85.189 168.001 85.189 165.578C85.189 165.578 83.6051 170.347 81.8146 169.455C80.024 168.562 81.8146 162.058 81.8146 162.058C81.8146 162.058 78.8763 165.322 77.5219 163.818C76.8562 163.052 79.2206 158.027 80.3454 153.615C81.2681 148.219 81.9118 142.768 82.2736 137.29C82.5031 134.893 96.0469 134.408 96.0469 137.545" fill="#FAC1A2"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M28.0074 137.137C27.7506 133.863 27.6892 130.574 27.8237 127.291C27.8237 126.781 27.8236 126.526 27.4793 127.419C26.7634 130.155 26.3851 132.986 26.3545 135.836C27.7089 136.448 27.9384 137.086 27.9384 137.086" fill="#7F161B"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M82.3674 137.137C82.561 133.876 82.561 130.604 82.3674 127.342C82.3674 126.832 82.4821 126.577 82.7117 127.47C83.3774 130.225 84.2958 135.759 83.8366 136.015C82.4822 136.499 82.2527 137.137 82.2527 137.137" fill="#7F161B"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M98.7575 113.645C94.6943 108.238 82.6885 115.915 82.6885 115.915C74.1133 120.242 64.7887 122.427 55.3713 122.318C45.9721 122.158 36.689 119.984 28.0313 115.915C28.0313 115.915 16.5535 109.768 11.9624 114.411C6.65964 119.512 9.02407 132.852 11.9624 125.2C14.6711 118.058 28.0313 124.945 28.0313 124.945C35.9775 128.59 44.4223 130.712 53.0068 131.22H58.2178C66.7018 131.119 75.0656 128.979 82.7344 124.945C82.7344 124.945 96.1863 118.415 99.2394 124.945C102.729 132.368 103.532 119.563 98.8952 113.518" fill="#F2F2F2"/>
        </svg>
      </div>
      <div class="mini-cart-empty__title"> Your bag is empty </div>
      <div class="mini-cart-empty__action">
        {%- if settings.cart_btn_1 != blank -%}
          <a class="mini-cart-empty__btn" href="{{ settings.link_1 }}"> {{- settings.cart_btn_1 -}} </a>
        {%- endif -%}
        {%- if settings.cart_btn_2 != blank -%}
          <a class="mini-cart-empty__btn" href="{{ settings.link_2 }}"> {{- settings.cart_btn_2 -}} </a>
        {%- endif -%}
        {%- if settings.cart_btn_3 != blank -%}
          <a class="mini-cart-empty__btn" href="{{ settings.link_3 }}"> {{- settings.cart_btn_3 -}} </a>
        {%- endif -%}
      </div>
    </div>
  {% endif %}
  <div class="cart-overlay">
    <div class="spinner">
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
</div>
