{% layout none %}
<!-- Begin Recharge code -->
{% render 'subscription-cart-footer' %}
<!-- End Recharge code -->

<div class="mini-cart">
  <div class="mini-cart__header">
    <div class="mini-cart__inner">
      <div class="mini-cart__close js-close-minicart">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.04163 9.45008L12.7083 1.95008C13.0123 1.60533 13.538 1.57177 13.8833 1.87508C14.2281 2.17905 14.2616 2.70475 13.9583 3.05008L7.7833 10.0001L13.9583 16.9501C14.2381 17.2975 14.1947 17.8037 13.8598 18.0984C13.5249 18.3931 13.0173 18.3718 12.7083 18.0501L6.04163 10.5501C5.76526 10.2355 5.76526 9.76467 6.04163 9.45008Z" fill="#484E57"/>
        </svg>
      </div>
      <span class="mini-cart__header-title">My bag </span>
      <span class="mini-cart__count js-mini-cart-count"> ({{ cart.item_count }} Items) </span>
    </div>
    {% if cart.item_count > 0 %}
      <div class="mini-cart__icon-cart">
        <span class="mini-cart__icon-count js-mini-cart-count"> {{ cart.item_count }} </span>
      </div>
    {% endif %}
  </div>

  {% assign limit_price_checkout = settings.min_price_checkout | plus: 0 %}
  {% assign freeshipPrice = settings.min_price_freeship | plus: 0 %}
  {% assign cartTotalPrice = cart.total_price | times: 100 | divided_by: freeshipPrice %}
  {% assign remaining_price = freeshipPrice | minus: cart.total_price %}

  {% if cart.item_count > 0 %}
  {%- if cartTotalPrice >= 50 -%}
    <div class="mini-cart__progress">
      <div class="mini-cart__progress-text" {{ freeshipPrice | money }}>
        {%- if cartTotalPrice >= 100 -%}
          {{- settings.progress_text -}}
        {%- elsif cartTotalPrice >= 50 -%}
          {{ settings.pro_hint }} {{ remaining_price | money }} {{ settings.pro_hint_2 }}
          <a href="{{ settings.link_shop }}">shop more candy</a>
        {%- endif -%}
      </div>
      <div class="mini-cart__progress-bar">
        <div class="mini-cart__progress-percent" style="width: {{ cartTotalPrice }}%"></div>
      </div>
    </div>
  {%- endif -%}
  {% endif %}

  {% if cart.item_count > 0 %}
    <form class="mini-cart__form" action="/cart" method="post" novalidate>
      <div class="mini-cart__list js-mini-cart-list">
        {%- for item in cart.items -%}
          {% assign included = false %}
          {% for tag in item.product.tags %}
            {% if tag == 'Exclude' %}
              {% assign included = true %}
            {% endif %}
          {% endfor %}
          <div class="mini-cart__item" data-id="{{ item.id }}">
              <a class="mini-cart__link" href="{{ item.url }}">
                <div class="mini-cart__picture">
                  <img loading="lazy" width="100" height="100" class="mini-cart__image" src="{{ item | img_url: 'x250' }}" alt="{{ item.image.alt | escape }}">
                </div>
              </a>
            <div class="mini-cart__info">
              <a class="mini-cart__link mini-cart__title" href="{{ item.url }}">
                {{- item.product.title -}}
              </a>

              {%- if item.product.has_only_default_variant == false -%}
                <div class="mini-cart__variants"> {{- item.variant.title -}} </div>
              {%- endif -%}

              <dl class="mini-cart__options">
              {%- for property in item.properties -%}
              {%- unless property.last == blank or property.first == "subscription_id" or property.first == "shipping_interval_frequency" or property.first == "shipping_interval_unit_type" -%}
                {%- assign property_first_char = property.first | slice: 0 -%}
                {%- if property.last != blank and property_first_char != '_' -%}
                  <div class="mini-cart__product-option">
                    <dt>{{ property.first }}: </dt>
                    <dd>
                      {%- if property.last contains '/uploads/' -%}
                      {% comment %}
                        <a href="{{ property.last }}" class="link" target="_blank">
                          Upload Succesfull
                        </a>
                      {% endcomment %}
                        Upload Succesfull
                      {%- else -%}
                        {{ property.last }}
                      {%- endif -%}
                    </dd>
                  </div>
                {%- endif -%}
                {% endunless %}
              {%- endfor -%}
              </dl>
              <div class="mini-cart__group">
                <div class="mini-cart__wrapper">
                  <div class="mini-cart__qty">
                    <button type="button" class="mini-cart__btn cart__btn-minus{% if included %} cart__btn-disabled {% endif %}" {% if included %} disabled {% endif %}>
                      {%- render 'icon-minus' -%}
                    </button>
                    <input class="mini-cart__qty-input cart-{{ item.id }}" data-cart-id="{{ item.id }}" type="number" name="updates[]" value="{{ item.quantity }}" min="0" pattern="[0-9]*" {% if included %} disabled {% endif %}>
                    <button type="button" class="mini-cart__btn cart__btn-plus{% if included %} cart__btn-disabled {% endif %}" {% if included %} disabled {% endif %}>
                      {%- render 'icon-plus' -%}
                    </button>
                  </div>
                </div>
                {%- liquid
                  assign curPrice = item.price
                  assign itemQuantity = item.quantity
                  assign totalPriceItem = curPrice | times: itemQuantity
                 -%}
                 <div class="mini-cart__detail-price">
                  <div class="mini-cart__total__sub-price"> {{ totalPriceItem | money }} </div>
                  <div class="mini-cart__price">
                    x {{ item.price | money }} per
                  </div>
                </div>
              </div>
            </div>
            <a class="mini-cart__remove js-remove-item-cart" href="#">
              <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.54597 8.45409C9.62485 8.53233 9.66922 8.63882 9.66922 8.74992C9.66922 8.86102 9.62485 8.96752 9.54597 9.04576C9.46773 9.12464 9.36124 9.16901 9.25014 9.16901C9.13904 9.16901 9.03254 9.12464 8.9543 9.04576L5.50014 5.58742L2.04597 9.04576C1.96773 9.12464 1.86124 9.16901 1.75014 9.16901C1.63904 9.16901 1.53254 9.12464 1.4543 9.04576C1.37542 8.96752 1.33105 8.86102 1.33105 8.74992C1.33105 8.63882 1.37542 8.53233 1.4543 8.45409L4.91264 4.99992L1.4543 1.54576C1.34861 1.44007 1.30734 1.28602 1.34602 1.14164C1.38471 0.997265 1.49748 0.884494 1.64185 0.845808C1.78623 0.807123 1.94028 0.8484 2.04597 0.954091L5.50014 4.41242L8.9543 0.954091C9.11769 0.790706 9.38259 0.790706 9.54597 0.954091C9.70936 1.11747 9.70936 1.38237 9.54597 1.54576L6.08764 4.99992L9.54597 8.45409Z" fill="#777777"/>
              </svg>
            </a>
          </div>
        {%- endfor -%}

        {% assign isChecked = false %}

        {% if settings.enable_donation_product %}
          {% if settings.donation_product != blank %}
            <div class="product-donate">
              <div class="product-donate__header">
                <div class="product-donate__header-title">
                  {{- settings.cart_title_1 -}}
                </div>
                <div class="product-donate__sub-header">
                  {{- settings.cart_title_2 -}}
                  <a class="product-donate__more js-donate-read-more" href="#">Read more</a>
                </div>
              </div>
              <div class="product-donate__desc">
                {{- settings.cart_desc -}}
                <a class="product-donate__more js-read-less" href="#"> Read less</a>
              </div>
              <div class="product-donate__list">
                {%- assign donation_product = all_products[settings.donation_product] -%}
                {% for variant in donation_product.variants limit: 5 %}
                  {%- for item in cart.items -%}
                    {% if item.id == variant.id %}
                      {% assign isChecked = true %}
                    {% endif %}
                  {%- endfor -%}
                  <div class="product-donate__item">
                    <input class="product-donate__input js-product-donate hidden" type="radio" value="{{ variant.id }}" id="ProductDonate-{{ variant.id }}"{%- for item in cart.items -%}{% if item.id == variant.id %} checked {% endif %}{% endfor %}>
                    <label class="product-donate__label" for="ProductDonate-{{ variant.id }}"> {{ variant.title | remove: "Donation" }} </label>
                  </div>
                {% endfor %}
              </div>
              {% if isChecked %}
                <div class="product-donate__message"> {{- settings.cart_message -}} </div>
              {% endif %}
              <a class="product-donate__remove js-remove-donate" href="#">
                <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.54597 8.45409C9.62485 8.53233 9.66922 8.63882 9.66922 8.74992C9.66922 8.86102 9.62485 8.96752 9.54597 9.04576C9.46773 9.12464 9.36124 9.16901 9.25014 9.16901C9.13904 9.16901 9.03254 9.12464 8.9543 9.04576L5.50014 5.58742L2.04597 9.04576C1.96773 9.12464 1.86124 9.16901 1.75014 9.16901C1.63904 9.16901 1.53254 9.12464 1.4543 9.04576C1.37542 8.96752 1.33105 8.86102 1.33105 8.74992C1.33105 8.63882 1.37542 8.53233 1.4543 8.45409L4.91264 4.99992L1.4543 1.54576C1.34861 1.44007 1.30734 1.28602 1.34602 1.14164C1.38471 0.997265 1.49748 0.884494 1.64185 0.845808C1.78623 0.807123 1.94028 0.8484 2.04597 0.954091L5.50014 4.41242L8.9543 0.954091C9.11769 0.790706 9.38259 0.790706 9.54597 0.954091C9.70936 1.11747 9.70936 1.38237 9.54597 1.54576L6.08764 4.99992L9.54597 8.45409Z" fill="#777777"/>
                </svg>
              </a>
            </div>
          {% endif %}
        {% endif %}
      </div>
      <div class="mini-cart__bottom">
        <div class="mini-cart-bottom__item">
          <div class="mini-cart-bottom__text"> Subtotal ({{ cart.item_count }} items) </div>
          <div class="mini-cart-bottom__total-price"> {{ cart.total_price | money }} </div>
        </div>
        {% comment %}
        <div class="mini-cart__field shipping-insurance">
          <input type="checkbox" id="shipping-insurance" class="gift-include  js-shipping-insurance hidden">
          <label class="mini-cart__label" for="shipping-insurance">
            <span class="mini-cart__gift-add">Add</span>
            <span class="mini-cart__gift-text">
              Include shipping protection for only <strong id="insurance-cost"></strong>  extra. </span>
            </span>
          </label>
        </div>
        {% endcomment %}
        <div class="mini-cart-bottom__item">
          <button type="submit" class="mini-cart__checkout-btn button" {% if cart.total_price < limit_price_checkout %} disabled {% endif %}> Proceed to checkout </button>
          {% if cart.total_price < limit_price_checkout %}<div class="mini-cart__checkout-text">minimum order value is {{ limit_price_checkout | money }}</div>{% endif %}
        </div>
        <div class="mini-cart__add-on">
          {%- liquid
            assign shipping_product = all_products[settings.shipping_product]
            assign is_attributes = false
            if cart.attributes['Delayed Shipping Date'] != nil or cart.attributes['Gift Message'] != nil
              assign is_attributes = true
            endif
          -%}
          {% if settings.enable_gift %}
            <div class="mini-cart__field">
              <input type="checkbox" value="Gift Message" id="GiftMessage" class="gift-include js-gift-message hidden"{% if is_attributes %} checked{% endif %}>
              <label class="mini-cart__label" for="GiftMessage">
                <span class="mini-cart__gift-add js-gift-add">{%- if is_attributes -%}Added{%- else -%}Add{%- endif -%}</span>
                <span class="mini-cart__gift-text">{{ settings.gift_label }}</span>
              </label>
            </div>
          {% endif %}
          <div class="mini-cart__field">
            {% assign isInclude = false %}
            {%- for item in cart.items -%}
              {% for variant in shipping_product.variants %}
                {% if item.id == variant.id %}
                  {% assign isInclude = true %}
                {% endif %}
              {% endfor %}
            {% endfor %}
            <input type="radio" value="{{ shipping_product.variants[0].id }}" id="CartInclude" class="gift-include js-add-gift-card js-product-donate hidden" {% if isInclude %} checked {% endif %}>
            <label class="mini-cart__label" for="CartInclude">
              <span class="mini-cart__gift-add"> {%- if isInclude -%}Added {%- else -%} Add {%- endif -%}</span>
              <span class="mini-cart__gift-text">
               {% comment %} {{ settings.cart_label }} {% endcomment %}
                Include shipping protection for only <strong class="insurance-costs" id="insurance-cost"></strong> extra.
                <a href="/pages/shipping-insurance" target="_blank"> Learn more </a>
              </span>
            </label>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <div class="mini-cart-empty">
        <div class="mini-cart__progress">
          <div class="mini-cart__progress-text">
            {{ settings.cart_empty_text }}
          </div>
          <div class="mini-cart__progress-bar">
            <div class="mini-cart__progress-percent" style="width: 0;"></div>
          </div>
        </div>
        {% if settings.gif_img != blank %}
        <div class="mini-cart-empty__icon">
          <img loading="lazy" src="{{ settings.gif_img | img_url: 'medium' }}" width="auto" height="auto">
        </div>
      {% endif %}
      <div class="mini-cart-empty__title"> Your bag is empty </div>
      <div class="mini-cart-empty__action">
        {%- if settings.cart_btn_1 != blank -%}
          <a class="mini-cart-empty__btn" href="{{ settings.link_1 }}"> {{- settings.cart_btn_1 -}} </a>
        {%- endif -%}
        {%- if settings.cart_btn_2 != blank -%}
          <a class="mini-cart-empty__btn" href="{{ settings.link_2 }}"> {{- settings.cart_btn_2 -}} </a>
        {%- endif -%}
        {%- if settings.cart_btn_3 != blank -%}
          <a class="mini-cart-empty__btn" href="{{ settings.link_3 }}"> {{- settings.cart_btn_3 -}} </a>
        {%- endif -%}
      </div>
    </div>
  {% endif %}
  <div class="cart-overlay">
    <div class="spinner">
      <div class="ball"></div>
      <div class="ball"></div>
      <div class="ball"></div>
    </div>
  </div>
</div>

<script>
  {% assign insurance_product = all_products['routeins-1'] %}
  {% for variant in insurance_product.variants %}
    {% capture insurance_variants %}
		{
          "id": {{ variant.id }}, 
		  "title": "{{ variant.title }}", 
		  "price": {{ variant.price }}, 
		  "sku": "{{ variant.sku }}"
        }{% unless forloop.last %},{% endunless %}
    {% endcapture %}
  {% endfor %}
  var window.OTCIns = {
    "id": {{ insurance_product.id }},
    "title": {{ insurance_product.title }},
    "price":{{ insurance_product.price }},
    "price_min":{{ insurance_product.price_min }},
    "price_max":{{ insurance_product.price_max }},
    "available":{{ insurance_product.available }},
    "variants": [{{ insurance_variants }}]
  };
</script>